apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: team-description-notifier
spec:
  schedule: "10 8 * * 1-5"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: jobs
            image: 754256621582.dkr.ecr.eu-west-2.amazonaws.com/peoplefinder/peoplefinder-ecr:latest
            imagePullPolicy: IfNotPresent
            env:
              - name: DATABASE_URL
                valueFrom:
                  secretKeyRef:
                    name: peoplefinder-rds-output
                    key: url
              - name: DATABASE_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: peoplefinder-rds-output
                    key: database_password
              - name: S3_BUCKET_NAME
                valueFrom:
                  secretKeyRef:
                    name: peoplefinder-s3-output
                    key: bucket_name
            envFrom:
            - configMapRef:
                name: environment-variables
            - secretRef:
                name: app-secrets
            command:
              - /bin/sh
              - "-c"
              - "rails runner 'TeamDescriptionNotifier.send_reminders'"
          restartPolicy: OnFailure
