%div.grid.grid-1-3.subgroup
  %a.subgroup-link-block.inner-block{ href: url_for(subgroup) }
    %h3= subgroup
    %div.about-subgroup
      = govspeak(truncate(subgroup.with_placeholder_default(:description), length: 350))
