%div.grid.grid-1-3.subgroup
  %div.inner-block
    %h3
      = link_to subgroup, subgroup
    = govspeak(truncate(subgroup.description, length: 200, omission: "... [read more](#{url_for(subgroup)})"))
