<h2>
  <%= t('views.results.direct_reports_title') %>
</h2>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%=  cycle('stripe', '')  %>">
        <td class="name">
          <%= link_to(user, [:results, user, :reviews]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<%= link_to(t('reviews.download_all_as_csv'), format: :csv) %>
