<h1>Parliamentary Questions of the day</h1>

<%= render partial: "shared/flash_messages", flash: flash %>


<%= render partial: 'shared/questions_list', locals: {section_title: 'Today', questions: @questions_today} %>



<%= render partial: 'shared/questions_list', locals: {section_title: 'Pending', questions: @questions_pending} %>


