= link_to 'remove', membership_path(membership,
    referer: request.path),
    method: :delete,
    class: 'remove-link',
    data: {confirm: "Are you sure you want to remove #{ membership.person} from #{ membership.group }? " }
