.form-group
  = membership_f.input :role, as: :string, label: 'Title'
.form-checkbox
  = membership_f.input :leader, label: 'This person is the Leader of this team'
  .remove-link
    = link_to 'remove', '#', class: 'remove-new-membership'