%div.grid.grid-1-4
  %div.inner-block.team-member

    = link_to summary.person do
      .image-background
        = profile_image_tag summary.person, summary.person_image.medium, class: 'team-members'
      %h4.person-name= summary.person_name

    .role= summary.role
