.column-one-quarter
  .mod-media.card
    .media
      .media-left
        = profile_image_tag summary
      .media-body
        %h4.media-heading
          = link_to summary.name, person_path(summary)
        = summary.role_names
