%h1 Listing memberships

%table
  %tr
    %th
    %th
    %th

  - @memberships.each do |membership|
    %tr
      %td= link_to 'Show', membership
      %td= link_to 'Edit', edit_membership_path(membership)
      %td= link_to 'Destroy', membership, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Membership', new_membership_path
