.inner-block
  %p
    This is the MOJ Senior Civil Service Appraisals service

  %section#login-form
    %h1 Please log in to continue
    =render 'sign_in_form'

  %p=link_to 'Forgotten your password?', new_passwords_path
