.cb-unsupported-browser-warning.error-summary{"aria-labelledby" => "error-summary-heading", :role => "group", :tabindex => "-1"}
  = t('.unsupported_browser_warning_html', sign_in_url: new_sessions_url)

.grid-row
  .column-full
    = link_to 'Help with finding firefox on your PC', '#'
    %br/
    %br/
.grid-row
  .column-full
    = link_to 'Help with copy and paste', '#'
