<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @directorate.name %>
</p>
<div>  <% if @directorate.deleted %>
      <i class="fa fa-times"></i>Inactive
  <% else %>
      <i class="fa fa-check-circle"></i>Active
  <% end %>
</div>
<%= link_to 'Edit', edit_directorate_path(@directorate) %> |
<%= link_to 'Back', directorates_path %>
