= form_for reply, as: :invitation, url: invitation_path(reply) do |f|
  = f.radio_buttons(:status, %i[ accepted declined ], inline: true){ |v| t(v, scope: 'invitations.statuses') }

  %fieldset
    .reason_declined_fields.hidden
      %p Please explain why you have declined the request
      = f.text_area :reason_declined

  %fieldset
    = f.button
