// ---------------------------------------
// variables
@import "vars/screen-sizes";
@import "vars/colours";
@import "vars/assets";

// ---------------------------------------
// Utilites
@import "util/utilities";
@import "util/links";
@import "util/horizontal-rules";
@import "util/pf-specific-overrides";

// ---------------------------------------
// partials
@import "components/global-header";
@import "components/people-search-bar";
@import "components/people-grid";
@import "components/beta-bar";
@import "components/search-profile-bar";
@import "components/flash-messages";
@import "components/edit-profile";
@import "components/view-profile";

// ------------------------------------
// govuk-search

.mod-search {
	position: relative;
	margin-bottom: 40px;
	.search-label {
		color: #6f777b;
		display: block;
	}
	.search-wrapper {
		display: table;
		width: 87%;
		background: #fff;
	}

	&.proposition-search .search-wrapper {
		border: 2px solid #000000;
	}

	.search-element {
		position: relative;
		display: table-cell;
		vertical-align: top;
	}
	.search-input {
		padding: 6px;
		margin: 0;
		width: 100%;
		height: 40px;
		border: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-family: $font_family_main;
		font-weight: 400;
		text-transform: none;
		font-size: 16px;
		line-height: 1.75;
		background: #fff;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		&:focus,
		&.focus {
			z-index: 2;
		}
	}
	.search-submit-wrapper {
		width: 1%;
	}
	.mod-search-form {
		.mod-search-input {
			position: relative;
			padding: 0;
			width: 100%;
			height: 40px;
			background-color: #cd1632;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGkAAABGCAMAAAD4pkrrAAAAM1BMVEX%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8AAAD%2F%2F%2F8VtYL2AAAAEHRSTlMgsFDgkKAwcGCAwEDw0BAAV51l0wAAAYhJREFUeF7t192OhCAMBeBRlJ9S8Lz%2F027A7DTjkrSZhL3iXBmjflKbBl%2FXf2VJn1nSkpa0pCUtaUn%2BKGgpZ54qZYLE7fOkA5%2FZ6hypEnroSIm4U6VOkTrEod5udDc1QTqe9UqNIquUczbauUHnhx0bFS1STdwrsFtrdz70AIANUi1AIWLg0CEPgOuIj7pU4HIDExBMDR6GJd1UKbzfMbYjJQXA4CIHQJWKrJv0RQGg8VLhNQmQJsKmSuOvGQBkVSIpN8ggpYGUTZL05%2F61FC2Sk0tOpC%2B%2FU7JI6T20MvAy9B6PT%2Bu9VxnUqcwol5ZzOHheAIoqXZ7BZ0pFBpoy9tzQD4rUVUILH2yg3KAndhlR2iz3IaW9Xt5A7X8Ht%2Beuq9LznqhQGx6l2huEapSEUstXS6Mo%2Fz7oRE%2BpVknO2yi4I%2BSYOiuUXbJvWSRCmSV7IkPCqRahrJLd2nCntE2SUFP25bnldoWaIUnGlEhzKJorCcV%2BpiSUQHMkoegJrb%2FPJS1pSUta0pJ%2BAIynqm4LtSuyAAAAAElFTkSuQmCC);
			background-repeat: no-repeat;
			background-position: 2px 50%;
			border-width: 0px;
			overflow: hidden;
			&:focus,
			&.focus {
				z-index: 2;
			}
		}
		.mod-search-submit {
			position: relative;
			padding: 0;
			width: 40px;
			height: 40px;
			background-color: #cd1632;
			background-image: asset-data-url("icon-search-submit.png");
			background-repeat: no-repeat;
			background-position: 2px 50%;
			border-width: 0px;
			color: #fff;
			text-indent: -5000px;
			overflow: hidden;
		}
	}
	&.proposition-search {
		float: right;
		width: 41.187%;
		.search-submit {
			background-color: #005ea5;
		}
	}
}

.js-enabled {
	.govuk-search {
		.search-label {
			position: absolute;
			left: 15px;
			top: 1px;
			z-index: 1;
			font-family: $font_family_main;
			font-weight: 400;
			text-transform: none;
			font-size: 16px;
			line-height: 40px;
			color: #6f777b;
		}
	}
}

input[type="search"] {
	min-width: 8em;
}

@media (min-width: $screen_small) {
	.js-enabled {
		.govuk-search {
			.search-label {
				font-size: 19px;
				line-height: 40px;
			}
		}
	}
	.govuk-search {
		.search-input {
			font-size: 19px;
			line-height: 1.47368em;
		}
	}
}

// ------------------------------------
// misc. type

html, body, button, input, main, table, td, th, .heading-xlarge, .heading-large, .heading-medium, .heading-small, #footer .footer-meta .footer-meta-inner ul, #footer .footer-meta .footer-meta-inner .open-government-licence p, #footer .footer-meta .copyright, #footer h2, .govuk-search .search-input, #global-header .header-proposition #proposition-name, #global-header .header-proposition #proposition-link a, #global-header .header-proposition #proposition-links a {
	color: #000000;
	font-family: $font_family_main;
}

.homepage-top .heading-large {
	color: #FFFFFF !important;
}

#footer {
	border-top: 16px solid $brand_color_a;
	.heading-xsmall {
		font-weight: 700;
	}
}

.footer-wrapper {
	ul {
		margin-bottom: 30px;
		li {
			margin-bottom: 10px;
		}
	}
}

@media (min-width: $screen_small) {

	.footer-wrapper {
		margin-bottom: 0;
	}
}
