#
# example env file which can be used in place of
# bash env vars for use in local development
# environment only.
# 1. copy contents to a new file named `.env.local`
# 2. create your own Google+ OAuth client ID and SECRET
#    and add here.
#
# NOTE: .env file will override vars defined here.
#
GECKOBOARD_API_KEY=moj_geckoboard_api_key
DITSSO_INTERNAL_PROVIDER=
DITSSO_INTERNAL_CLIENT_ID=localdev_ditsso_client_id
DITSSO_INTERNAL_CLIENT_SECRET=localdev_ditsso_client_secret
SSL_ON=false
GA_TRACKING_ID=UA-XXXXX-X
MAX_TOKENS_PER_HOUR=8
KEEN_PROJECT_ID=aaaaaaaaaaaaaaa
KEEN_MASTER_KEY=xxxxxxxxxxxxxxx
KEEN_WRITE_KEY=yyyyyyyyyyyyyyy
KEEN_READ_KEY=zzzzzzzzzzzzzzz

S3_KEY=
S3_SECRET=
S3_REGION=
S3_BUCKET_NAME=

PROFILE_API_TOKEN=
