/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
/public/uploads/*
/coverage
/spec/support/uploads/*
.idea
/.env
.ruby-version
/pkg/
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-journal
/spec/dummy/log/*.log
/spec/dummy/tmp/
/spec/dummy/public/uploads
/spec/dummy/.sass-cache
