language: ruby
rvm:
  - '2.1.4'
services:
  - elasticsearch
before_install:
  - sudo apt-get install -qq phantomjs
before_script:
  - psql -c 'create database pf_engine_test;' -U postgres
script:
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rake
notifications:
  email: false
