%h1 Listing action_officers

%table
  %tr
    %th
    %th
    %th

  - @action_officers.each do |action_officer|
    %tr
      %td= link_to 'Show', action_officer
      %td= link_to 'Edit', edit_action_officer_path(action_officer)
      %td= link_to 'Destroy', action_officer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Action officer', new_action_officer_path
