.panel.panel-border-wide.form-hint
  %p
    Row 1 of file must have comma separated column names following the naming below:
    %br/
  %ul.list.list-bullet
    %li
      required:
      = required_headers
    %li
      optional:
      = optional_headers
  example:
  %pre{ style: 'overflow: auto; display: block; padding: 1em; word-wrap: normal; whitespace: pre; word-spacing: normal; word-wrap: normal;' }
    %code
      = csv_headers
    %code
      Tom,O'Conner,tom.o.conner@example.gov.uk,020 7947 7268,07701 001001,203-222-222,102 Petty France,"Room 5.03, 5th Floor, Blue Core",London,"I work on various projects across MoJ"
