%div.grid.grid-1-4
  %div.inner-block.team-member

    = link_to summary do
      .image-background
        = profile_image_tag summary, summary.image.medium, class: 'team-members'
      %h4.person-name= summary.name

    .role= summary.role_names
