%p
  Hello
  =@user.name
%p
  We recently received a request for your password to be reset.

%p
  If this was intentional, then you can reset your password by following this link and entering a new password:

%p=link_to 'Password reset link', @url
