%p
  Hello
  =@user.name
%p
  You've been invited to the SCS Appraisal system.

%p
  Complete your registration by following this link and setting a new password:

%p=link_to 'Complete your registration', @url
