.complete-your-profile{class: ('complete' if person.complete?) }
  Profile completeness
  .bar
    .on{ style: "width: #{ person.completion_score }%" } &nbsp;
    .off{ style: "width: #{ 100 - person.completion_score }%" } &nbsp;
  .score #{person.completion_score}%
  - unless @preview
    - if person.incomplete?
      %p= link_to 'complete your profile', edit_person_path(person, activity: 'complete')
    - else
      %p Thanks for improving People Finder for everyone!
