.grid-row.mod-media.card
  .media
    = link_to summary do
      .media-left
        = profile_image_tag summary, class: 'team-members'
      .media-body
        %h4.media-heading
          = summary.name
        = summary.role_names