- content_for :body_classes, 'edit-profile-page'

= render partial: 'breadcrumbs'

- if @preview
  .preview
    = render partial: 'profile'

- if @activity == 'complete'
  .completion-prompt
    %p Fill in the highlighted fields to achieve 100% profile completion

%h1= @page_title = (params[:page_title] || "Edit profile")

= render partial: 'form', locals: { building: false }