- content_for :body_classes, 'new-profile-page '

= render partial: 'breadcrumbs'

%h1.heading-xlarge.with-border-lg
  = @page_title = 'New profile'

= render partial: 'form', locals: { building: true }
