- content_for :body_classes, 'new-profile-page '

= render partial: 'breadcrumbs'

%h1.heading-xlarge.with-border-lg
  = @page_title = 'New profile'

= GovukElementsErrorsHelper.error_summary @person,
  "There is a problem with the form",
  "Check below for more detail"

= render partial: 'form', locals: { building: true }
