.grid-row.mod-media.result-team
  .column-full
    .media
      .media-left
        = team_image_tag team
      .media-body
        - index = team_iteration.index
        %h4.media-heading
          = link_to team.name, team, { data: search_result_analytics_attributes(index) }
        = breadcrumbs(team.path[0..(team.path.size - 2)])