.search-result
  .grid-wrapper
    .grid
      .inner-block
        .image-background
          = team_image_tag team
        .details
          - index = team_iteration.index
          %h3= link_to team.name, team,
            { data: search_result_analytics_attributes(index) }
          .breadcrumbs
            = breadcrumbs(team.path[0..(team.path.size - 2)])
          .meta
          .meta
