- content_for :breadcrumbs do
  = breadcrumbs(Home.path + ['Search results'])

#search_results
  %h1.noborder Search results
  .search-hint Select a person's name to view more details, or you can view their team if desired.
  .pagination= pluralize(@people.length, "result") + ' found'

  = render partial: 'people/person', collection: @people, locals: { edit_link: false }

  .add-new-person
    Can't find the person you're looking for? Why not
    = link_to 'add them', new_person_path
