/* horizontal rules */

hr {
	&.rule-small {
		clear: both;
		background-color: transparent;
		border-style: solid;
		border-color: $brand_chrome_c;
		border-width: 1px 0 0;
		margin: 15px 0px 30px;
	}

	&.rule-large {
		clear: both;
		background-color: transparent;
		border: 5px solid $brand_color_c;
		border-width: 5px 0 0;
		margin: 15px 0px;
	}
	&.rule-top {
		margin: 0;
	}
}
