<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h2>You accepted the following PQ </h2>

<div style="padding-left:0.5em;margin-left:10px;border-left:2px solid black;margin-top:5px;margin-right:5px;margin-bottom:5px;font-size: 110%;">
  <%= @template_params[:question] %>
</div>

<h2>You can use this link to
  <%= mail_to 'MOJParliamentaryBranch@cabinet-office.gsi.gov.uk', 'send a draft response', cc: "Christopher.Beal@justice.gsi.gov.uk, Nicola.Calderhead@justice.gsi.gov.uk, thomas.murphy@JUSTICE.gsi.gov.uk", subject: "[Parliament-Questions] Draft for question #{@template_params[:uin]}" %>
</h2>

<dl>
  <dt>There are some links to guidance available from the intranet</dt>
  <dd><a href="http://intranet.justice.gsi.gov.uk/ministers-parliament/working-with-parliament/parliamentary-questions">PQ
    Intranet page</a></dd>
  <dd>
    <a href="http://intranet.justice.gsi.gov.uk/ministers-parliament/working-with-parliament/downloads/parliament-questions-guidance-faqs.pdf">Guidance
      FAQs</a></dd>
  <dd><a href="http://intranet.justice.gsi.gov.uk/global/forms/downloads/ministers-parliament/template-written-pqs.doc">Response
    template (Word doc)</a></dd>
  <dd>
    <a href="http://intranet.justice.gsi.gov.uk/ministers-parliament/working-with-parliament/downloads/high-profile-pq.pdf">High
      profile criteria</a></dd>
  <dd>
    <a href="http://intranet.justice.gsi.gov.uk/global/forms/downloads/ministers-parliament/disproportionate-costs-calculator.xls">
      Disproportionate costs calculator</a></dd>
</dl>
<p><strong>If your PQ is to be answered by Simon Hughes MP, please ensure that the Draft Response is sent, alongside the usual
  copy list, to;</strong></p>
<dl>
  <dd><a href="mailto:Christopher.Beal@justice.gsi.gov.uk">Christopher.Beal@justice.gsi.gov.uk</a></dd>
  <dd><a href="Nicola.Calderhead@justice.gsi.gov.uk">Nicola.Calderhead@justice.gsi.gov.uk</a></dd>
  <dd><a href="thomas.murphy@JUSTICE.gsi.gov.uk">thomas.murphy@JUSTICE.gsi.gov.uk</a></dd>
</dl>

<p><strong>Some guidance points that you should be aware of:</strong></p>
<ul style="list-style: none;">
  <li style="padding: 10px 0 10px 0;"><span style="color: blue;">Please ensure that tables attached to or embedded in answers are in Word or Excel format</span><br/></li>
  <li style="padding: 10px 0 10px 0;"><span style="color: blue;">Follow up to 'I will write responses'.</span><br/> Please see revised guidance for IWW - Follow up responses to IWW PQ
    answers are dealt with slightly differently to routine PQ answers – please see the attached guidance and process map
    which details how these should be processed. An IWW follow-up response specific background note is also attached.
  </li>
  <li style="padding: 10px 0 10px 0;"><span style="color: blue;">Guidance</span>.<br/> Please familiarise yourself with the guidance below highlighting the details that should be provided in
    the email subject line when returning PQs. If colleagues in your team are processing responses, please ensure that
    this message is relayed.
  </li>
  <li style="padding: 10px 0 10px 0;"><span style="color: blue;">Amendments have been made to the return cc list (see section 4 below). When returning PQs to the full copy list,
    please include the following in the e-mail subject line:</span>
    <ul>
      <li>Parliament's Unique Identifying Number (the 5 or 6 digit number that appears at the end of the question)</li>
      <li>Indicate the name of the MP / Peer</li>
      <li>Give a very brief description of the subject matter (one or two words!)</li>
      <li>Provide the name of the Press Officer involved (if applicable)</br>e.g. RE: 123456 – Joe Blogs – Legal Aid
        (Press Officer - Rob Smith)
      </li>
    </ul>
  </li>

</ul>
<p>Taking these steps will ensure that Press Office colleagues are able to identify what PQs relate to their portfolio
  areas. Likewise, providing PIN numbers also enables us to identify PQs easily.</p>

<p>Please contact one of the PQ team should you have any questions.</p>


<div style="margin-top: 50px; border-top: 1px solid;">
  Parliamentary Questions<br/>
  9.25, 9th Floor, Ministry of Justice, 102 Petty France, SW1H 9AJ<br/>
  T: 0203 334 4302<br/>
  E: <a href="mailto:MOJParliamentaryBranch@cabinet-office.gsi.gov.uk">MOJParliamentaryBranch@cabinet-office.gsi.gov.uk</a><br/>
  <br/>
  <div style="font-size: 75%;">
    Private Office Directorate has changed some of its processes: please refer to the Intranet pages on Working with Private Office <a href="http://intranet.justice.gsi.gov.uk/ministers-parliament/working-with-private-office/index.htm">http://intranet.justice.gsi.gov.uk/ministers-parliament/working-with-private-office/index.htm</a> for full details.<br/>
    It is the responsibility of the policy or business unit to ensure that emails and documents are properly retained and filed on EDRM and accessible to all who need them. Private Office Directorate will not be retaining these records.
  </div>
</div>


</body>
</html>