.grid-divider
.grid-wrapper
  .form-group
    .grid.grid-1-3
      .inner-block
        = f.input :budget_type, required: false, input_html: { class: 'x-wide' }
    .grid.grid-1-3
      .inner-block
        = f.input :value, required: false, as: :string, input_html: { class: 'wide pound' }
    .grid.grid-2-3
      .inner-block
        = f.input :description, required: false, as: :text, input_html: { class: 'xx-wide' }
.inner-block
  = f.link_to_remove "Remove"
