%table
  %tbody
    %tr
      %td{width: "20"}
      %td{width: "560"}
        %table
          %tbody
            %tr
              %td{style: "padding-bottom: 20px;", width: "560"}
                Hello #{@person.given_name},
            %tr
              %td{style: "line-height: 30px; padding-bottom: 20px;", width: "560"}
                %p
                  Your profile on MOJ People Finder been edited
                  - if @by_email.present?
                    by #{@by_email}
                  \.
                %p
                  To see the updated profile, visit #{link_to @profile_url, @profile_url}.
            %tr
              %td{ style: "padding-bottom: 40px;", width: "560"}
                %table.button-container
                  %tbody
                    %tr
                      %td
                        %a.button{href: "#{@profile_url}", target: "_blank"}
                          Log in to People Finder
      %td{width: "20"}
