a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.new-profile a {
  display: inline-block;
  margin-top: 13px;
  padding: 2px 0 10px 30px;
}

.new-profile a.add-new-person {
    background: image-url('icon_add_person.png') scroll no-repeat 0 0;
}

.new-profile a.add-new-team {
    background: image-url('icon_add_person.png') scroll no-repeat 0 0;
}

.pipe-right{
	border-right: 1px solid $border-colour;
    padding-right: $gutter/3;
}

.pipe-left{
	border-left: 1px solid $border-colour;
    padding-left: $gutter/3;
}