= simple_form_for @group do |f|
  %fieldset
    .form-group
      = f.association :parent
    .form-group
      = f.input :name, as: :string, class: 'form-control'
    .form-group
      = f.button :submit
