%div.grid.grid-1-3.subgroup
  %div.inner-block
    %h3
      = link_to subgroup, subgroup
    - if @group.level < 2 && subgroup.leadership
      = render partial: 'leadership', object: subgroup.leadership
    -else
      = govspeak(truncate(subgroup.description, length: 200))
