- content_for :body_classes, 'new-team-page '

= render partial: 'breadcrumbs'

%h1.heading-xlarge.with-border-lg
  = @page_title = 'Create a team'

= GovukElementsErrorsHelper.error_summary @group,
    "There is a problem with the form",
    "Check below for more detail"

= render 'form'
