- content_for :breadcrumbs do
  = breadcrumbs(Home.path + @group.path + ['People not assigned to a sub-team'])

%h1= @page_title = "People in #{ @group.name } not assigned to a sub-team"
.grid-wrapper
  = render partial: "people/summary", collection: @group.people_outside_subteams
