<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @template_params[:name] %> you have been allocated the following PQ </h1>
    <p style="padding-left:0.5em;margin-left:10px;border-left:2px solid black;margin-top:5px;margin-right:5px;margin-bottom:5px;">
      <%= @template_params[:question] %>
    </p>

    <h2 style="margin:10px 0;">
      To accept or reject the question, please click the following link <%= link_to "Accept or reject this question", controller: "assignment", action: "index", uin: @template_params[:uin], token: @template_params[:token], entity: @template_params[:entity], :host => root_url %>
    </h2>

    <p>Please contact one of the PQ team should you have any questions.</p>
  </body>
</html>