= crumb_to(breadcrumb,
           {  index: breadcrumb_counter,
              starts_with_home: starts_with_home,
              starts_with_root_team: starts_with_root_team,
              show_links: show_links } )
