- if @firefox_browser_warning.present?
  %tr
    %td{align: "left", valign: "top", width: "560", style: "line-height: 1.5"}
      %p{style: "border: 4px solid red; padding: 10px; font-size: 16px;"}
        = @firefox_browser_warning.html_safe
        %br/
        %br/
        = link_url