.login-bar
  - if logged_in_regular?
    %span.profile-link
      Signed in as
      %span
        = link_to current_user, person_path(current_user)
      - if super_admin?
        %span.admin-link
          = link_to 'Admin', admin_home_path
      %span.logout-link
        = link_to "Sign out", sessions_path, :method => :delete
  - elsif logged_in_readonly? && !@login_screen
    %span.login-link
      %span
        To update People Finder,&nbsp;
      %span
        = link_to('sign in now', new_sessions_path )
      %span
        \.
