.inner-block.login-bar
  - if logged_in_regular?
    %span
      Signed in as
      = link_to current_user, person_path(current_user)
    - if super_admin?
      %span.super-admin (S)
    %span.logout-link
      = link_to "Sign out", sessions_path, :method => :delete
