- form ||= nil
- field_name ||= :group_id

%nav.org-browser{:class => ('has-form' if form)}
  = render 'shared/org_browser_level', org_structure: org_structure, form: form, field_name: field_name, level: 0
