<div class="org-browser" ng-controller="OrgBrowserCtrl"
  <%= %{data-current-id="#{@group.id}"}.html_safe if @group %> >
  <%= yield %>
  <ul class="collapsed-groups" >
    <li class='animate' ng-repeat="group in groups" >
      <div class="block actionable sideways"
        ng-click="moveUp(group)" >
        <label ng-show="selectMode" >
          <input type="radio" ng-checked="isSelected(group)"
            ng-disabled="group.disabled"/>
        </label>
        <span>
          {{ group.name }}
        </span>
      </div>
    </li>
  </ul>
  <ul class="expanded-groups" >
    <li ng-hide="selectMode">
      <div class="block" >
        <span>
        <a href="{{ current.url }}" >View {{ current.name }}</a>
        </span>
      </div>
    </li>
    <li ng-repeat="group in current.children" >
      <div class="block actionable"
        ng-click="moveDown(group)" >
        <label ng-show="selectMode" >
          <input type="radio" ng-checked="isSelected(group)"
            ng-disabled="group.disabled"/>
          <span>{{ group.name }}</span>
        </label>
        <label ng-show="!selectMode" >
          <a href="{{ group.url }}" ng-show="!isExpandable(group)">{{ group.name }}</a>
          <span ng-show="isExpandable(group)">{{ group.name }}</span>
        </label>
        <span class="arrow" ng-show="isExpandable(group)">〉</span>
      </div>
    </li>
  </ul>
</div>
