- disable = current_group_or_department?(group)

%a{href:'#', :class => 'team-back'} Back

%h3{class: (disable ? 'disabled' : '')}
  - if form && !disable
    = form.radio_button(field_name, group.id)

  %a{href: group_path(group['id']), :class => 'team-link', title: group.name }<
    = group['name']


