
<i class="fa fa-caret-right"></i> Assigned to <%= question.action_officers.first.name unless question.action_officers.first.nil? %>
<% if question.action_officers_pq.first.accept %>
    <span class="label label-success">Accepted</span>
<% elsif question.action_officers_pq.first.reject %>
    <span class="label label-danger">Rejected</span>
<% else %>
    <span class="label label-warning">No response</span>
<% end %>
