= form_tag '/search', method: :get, id: 'search_box' do
  = text_field_tag :query, params[:query], placeholder: 'Search for people in MOJ', class: 'form-control'
  = submit_tag 'Search', class: 'submit-button'
