= form_tag '/search', method: :get, class: 'search-box' do
  %label.form-hint{ for: :query }
    = t('shared.search.hint')
  = text_field_tag :query, @query, class: 'form-control'
  = submit_tag 'Submit search', class: 'submit-button'
