= form_tag '/search', method: :get, class: 'search-box' do
  %label.visuallyhidden{ for: :query }= t('shared.search.label')
  = text_field_tag :query, params[:query], placeholder: t('shared.search.placeholder'), class: 'form-control'
  = submit_tag 'Submit search', class: 'submit-button'
