<% if ReviewPeriod.open? %>
  <div class="review-period-time-left <%= 'last-few-days' if ReviewPeriod.seconds_left < 3.days %>">
    <div class="inner">
      <%= t('review_period.time_left',
            remaining: DaysHelper.review_period_time_left).html_safe %>
    </div>
  </div>
<% end %>
