<div id="org-browser" ng-controller="GroupListCtrl" >
  <ul class="collapsed-groups" >
    <li class='animate' ng-repeat="group in groups" >
      <div class="block actionable sideways"
        ng-click="moveUp(group)" >
        <label ng-show="selectMode"
          ng-click="select(group); $event.stopImmediatePropagation();" >
          <input type="radio" ng-checked="isSelected(group)" />
        </label>
        <span>
          {{ group.name }}
        </span>
      </div>
    </li>
  </ul>
  <ul class="expanded-groups" >
    <li ng-hide="selectMode">
      <div class="block" >
        <a href="{{ current.url }}" >View {{ current.name }}</a>
      </div>
    </li>
    <li ng-repeat="group in current.children" >
      <div class="block"
        ng-class="{ actionable: isExpandable(group) }"
        ng-click="moveDown(group)" >
        <label ng-show="selectMode"
          ng-click="select(group); $event.stopImmediatePropagation();" >
          <input type="radio" ng-checked="isSelected(group)" />
        </label>
        <span>{{ group.name }}</span>
        <span class="arrow" ng-show="isExpandable(group)" >〉</span>
      </div>
    </li>
  </ul>
</div>
