%h1 #{ @group.name } people finder
= link_to 'Add new person', new_person_path, class: 'add-new-person'

%h3 Search the people finder
.hint-text Enter the name of a person or role
= render 'shared/search'
