%h1.no-line The change you wanted was rejected
.spacer-45
%p Maybe you tried to change something you didn't have access to.
%p If you are the application owner check the logs for more information.
%p= link_to "Return to home page", home_path