.beta-bar
  %span{:class => 'beta-label'}
    Beta
  Complete our quick 2-minute survey to #{link_to('help us improve the Digital Workspace', 'http://www.smartsurvey.co.uk/s/2DJNQ/', :target => 'blank')}
