%a{:href => "#proposition-links", :class => "js-header-toggle menu"}
  Menu
%nav{:id => "proposition-menu"}
  %ul{:id => "proposition-links"}
    %li
      %a{:href => home_page_link_helper('/news-and-views')}
        News and Views
    %li
      %a{:href => home_page_link_helper('/working-at-dit')}
        Working at DIT
    %li
      %a{:href => home_page_link_helper('/about-us')}
        About Us
    %li
      %a{:href => home_page_link_helper('/tools')}
        Tools
    - if super_admin?
      %li
        = link_to 'Manage', admin_home_path, class: "manage-link"
