<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @template_params[:name] %></h1>

    <h2 style="margin:10px 0;">
      This are the Parliamentary Questions allocated on <%= @template_params[:date] %> , please click the following link to view the questions <%= link_to "View the questions", controller: "watchlist_dashboard", action: "index", token: @template_params[:token], entity: @template_params[:entity], :host => root_url %>
    </h2>

    <p>Please contact one of the PQ team should you have any questions.</p>

    <div style="margin-top: 50px; border-top: 1px solid;">
      Parliamentary Questions<br/>
      9.25, 9th Floor, Ministry of Justice, 102 Petty France, SW1H 9AJ<br/>
      T: 0203 334 4302<br/>
      E: <a href="mailto:MOJParliamentaryBranch@cabinet-office.gsi.gov.uk">MOJParliamentaryBranch@cabinet-office.gsi.gov.uk</a><br/>
      <br/>
      <div style="font-size: 75%;">
        Private Office Directorate has changed some of its processes: please refer to the Intranet pages on Working with Private Office <a href="http://intranet.justice.gsi.gov.uk/ministers-parliament/working-with-private-office/index.htm">http://intranet.justice.gsi.gov.uk/ministers-parliament/working-with-private-office/index.htm</a> for full details.<br/>
        It is the responsibility of the policy or business unit to ensure that emails and documents are properly retained and filed on EDRM and accessible to all who need them. Private Office Directorate will not be retaining these records.
      </div>
    </div>

  </body>
</html>