%div.edit-links
  - if can_add_person_here?
    = link_to 'Add new person', new_person_path, class: 'add-new-person'

  - if @group
    = link_to 'Edit this team', edit_group_path(@group), class: 'edit-this-team'
    = link_to 'Add new sub-team', new_group_group_path(@group), class: 'add-new-sub-team'

  - if @person
    = link_to 'Edit this profile', edit_person_path(@person), class: 'edit-this-person'
