.inner-block.login-bar
  - if logged_in?
    %span
      = link_to "Signed in as #{ current_user }", person_path(current_user)
    - if super_admin?
      %span.super-admin (S)
    %span.logout-link
      = link_to "Sign out", sessions_path, :method => :delete
