%nav.org-browser
  = render 'peoplefinder/shared/new_org_browser_level', group: @group


%nav.org-browser

  %div.team
    %h3 Ministry of Justice
    %ul
      %li.has-subteams
        %p
          %span.subteam-name Corporate Services
          %span.subteam-count 5 sub-teams

        %div.team
          %h3 Corporate Services
          %ul
            %li.has-subteams
              %p
                %span.subteam-name Digital Services
                %span.subteam-count 9 sub-teams

            %li.has-subteams
              %p
                %span.subteam-name Estates
                %span.subteam-count 3 sub-teams

            %li.has-subteams
              %p
                %span.subteam-name HR
                %span.subteam-count 5 sub-teams

            %li.has-subteams
              %p
                %span.subteam-name Shared Services
                %span.subteam-count 3 sub-teams

            %li.has-subteams
              %p
                %span.subteam-name Technology
                %span.subteam-count 5 sub-teams

      %li.has-subteams
        %p
          %span.subteam-name Criminal Justice Group
          %span.subteam-count 4 sub-teams

      %li.has-subteams
        %p
          %span.subteam-name Finance
          %span.subteam-count 5 sub-teams

      %li.has-subteams
        %p
          %span.subteam-name HMCTS
          %span.subteam-count 12 sub-teams

      %li.has-subteams
        %p
          %span.subteam-name Judicial Appointments Committee
          %span.subteam-count 4 sub-teams

      %li.has-subteams
        %p
          %span.subteam-name Law and Access to Justice
          %span.subteam-count 5 sub-teams

      %li.has-subteams
        %p
          %span.subteam-name Legal Aid Agency
          %span.subteam-count 4 sub-teams

      %li
        %p
          %span.subteam-name NOMS



/ %nav.org-browser

/   // .org-list-wrapper => target for x-pos offset -300px
/   // when content.width > .org-browser.width
/   .org-list-wrapper

/     %ul.org-list
/       %li.org-list-item.org-list-group-title
/         %a{:class => "org-list-link", :title => "Ministry of Justice", :href => "#"}
/           %h4 Ministry of Justice
/       %li.org-list-item.org-list-group
/         %a{:class => "org-list-link", :title => "Generic Group Name", :href => "#"}
/           %p.org-list-group-name Generic Group Name
/           %p.org-list-group-subteams XX sub-teams
/       %li.org-list-item.org-list-group
/         %a{:class => "org-list-link", :title => "Generic Group Name", :href => "#"}
/           %p.org-list-group-name Generic Group Name
/           %p.org-list-group-subteams XX sub-teams
/       %li.org-list-item.org-list-group
/         %a{:class => "org-list-link", :title => "Generic Group Name", :href => "#"}
/           %p.org-list-group-name Generic Group Name
/           %p.org-list-group-subteams XX sub-teams
/       %li.org-list-item.org-list-group
/         %a{:class => "org-list-link", :title => "Generic Group Name", :href => "#"}
/           %p.org-list-group-name Generic Group Name
/           %p.org-list-group-subteams XX sub-teams
/       %li.org-list-item.org-list-group
/         %a{:class => "org-list-link", :title => "Generic Group Name", :href => "#"}
/           %p.org-list-group-name Generic Group Name
/           %p.org-list-group-subteams XX sub-teams
/       %li.org-list-item.org-list-group
/         %a{:class => "org-list-link", :title => "Generic Group Name", :href => "#"}
/           %p.org-list-group-name Generic Group Name
/           %p.org-list-group-subteams XX sub-teams
/       %li.org-list-item.org-list-group
/         %a{:class => "org-list-link", :title => "Generic Group Name", :href => "#"}
/           %p.org-list-group-name Generic Group Name
/           %p.org-list-group-subteams XX sub-teams

/ -#
/     %ul.org-list
/       %li.org-list-item.org-list-group-title
/         %a{:class => "org-list-link", :title => "Ministry of Justice", :href => "#"}
/           %h4 Corporate Services
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team.org-list-trail
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name

/     %ul.org-list
/       %li.org-list-item.org-list-group-title
/         %a{:class => "org-list-link", :title => "Ministry of Justice", :href => "#"}
/           %h4 Corporate Services
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team.org-list-trail
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name

/     %ul.org-list
/       %li.org-list-item.org-list-group-title
/         %a{:class => "org-list-link", :title => "Ministry of Justice", :href => "#"}
/           %h4 Corporate Services
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
/       %li.org-list-item.org-list-team
/         %a{:class => "org-list-link", :title => "Generic Team Name", :href => "#"}
/           %p.org-list-team-name Generic Team Name
