%nav.org-browser

  %ul.org-list
    %li.org-list-item
      %a{:class => "org-list-link org-list-group-title", :title => "Ministry of Justice", :href => "#"}
        %h4 Ministry of Justice
    %li.org-list-item
      %a{:class => "org-list-group org-list-link", :title => "Generic Group Name", :href => "#"}
        %h5 Generic Group Name
        %p XX sub-teams
    %li.org-list-item
      %a{:class => "org-list-team", :title => "Generic Team Name", :href => "#"} Generic Team Name