- group_disabled = (@group && @group.id == group.id)

%h3{class: (group_disabled ? 'disabled' : '')}
  - if form && !group_disabled
    = form.radio_button(field_name, group.id)

  %a{href: group_path(group['id']), :class => 'team-link', title: group.name }
    = group['name']