- @submissions.each do |submission|
  %p
    %strong= submission.author_name
    - if submission.accepted?
      = link_to 'Add feedback', edit_submission_path(submission)
    - else
      = link_to 'Accept / Reject', edit_feedback_request_path(submission)