// ------------------------------------
// homepage news, what's popular

.news-column {
	h2 {
		border-top: 1px solid #bfc1c3;
		margin-top: 0;
		padding-top: 0.8333333333em;
	}
}

.more-news {
	.more-news-inner {
		border-top: 1px solid #b8bcbe;
	}
}

.news-item {
	margin-bottom: 30px;
	overflow: auto;
	img {
		display: block;
		width: 100%;
	}
	.image-holder {
		float: left;
		width: 33.33333%;
		max-height: 195px;
		overflow: hidden;
		.img {
			display: block;
			padding: 5px 15px 0 0;
		}
	}
	.news-item-text {
		float: left;
		width: 66.66667%
	}

	.heading-medium {
		margin: 0;
		padding-top: 6px;
		padding-bottom: 4px;
	}

	&:first-child {
		.heading-medium {
			margin-top: 0px;
			padding-top: 0px;
		}
		/*margin-bottom: 0;*/
	}
}

.popular-page-summary {
	clear: both;
	margin-bottom: 30px;
	overflow: auto;
	img {
		display: block;
		width: 100%;
	}
	.image-holder {
		float: left;
		width: 33.33333%;
		max-height: 195px;
		overflow: hidden;
		.img {
			display: block;
			padding: 5px 15px 0 0;
		}
	}
	.popular-page-text {
		float: left;
		width: 66.66667%
	}
	.heading-medium {
		font-size: 16px;
		margin: 0;
		//padding-top: 6px;
		padding-top: 1.65em;
		padding-bottom: 4px;
	}
	p {
		font-size: 14px;
		line-height: 1.4em;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

@media(min-width: $screen_medium) {
	.news-item {
		.image-holder {
			width: 100%;
			.img {
				padding: 0;
			}
		}
		.news-item-text {
			width: 100%;
		}

		.heading-medium {
			margin: 0;
			padding-top: 6px;
			padding-bottom: 4px;
		}
		p {
			font-size: 16px;
		}
	}

	.popular-page-summary {
		clear: none;
		margin-bottom: 30px;
		.image-holder {
			width: 100%;
			.img {
				padding: 0;
			}
		}.popular-page-text {
			width: 100%
		}
		.heading-medium {
			font-size: 19px;
			margin: 0;
			padding-top: 20px;
			padding-bottom: 4px;
		}
		&:last-child {
			/*margin-bottom: 30px;*/
		}
	}
}

// ------------------------------------
// homepage graph summaries

.graph-summary {
	color: #ffffff;
	margin-bottom: 15px;

	&.graph-summary-orange {
		.stat {
			background-color: $brand_color_a;
		}
	}
	&.graph-summary-teal {
		.stat {
			background-color: #30a197;
		}
	}
	&.graph-summary-blue {
		.stat {
			background-color: #318dc2;
		}
	}
	&.graph-summary-pink {
		.stat {
			background-color: #f29abe;
		}
	}
	.stat {
		background-position: center 30px;
		background-repeat: no-repeat;
		background-size: 45%;
		padding: 15px 15px 15px 15px;
		text-align: center;
	}
	.stat-number {
		display: block;
		font-size: 82px;
		font-weight: bold;
		line-height: 90px;
	}
	.stat-description {
		display: block;
		font-size: 16px;
		margin-top: 0;
	}
}

.howdoi-description {
	display: block;
	font-size: 16px;
	margin-top: 0;
}

@media (min-width: $screen_small) {
	.graph-summary {
		.stat {
			background-size: 60%;
			padding-top: 150px;
		}
		&.graph-summary-a {
			.stat {
				background-image: asset-data-url("graph-dots.png");
			}
		}
		&.graph-summary-b {
			.stat {
				background-image: asset-data-url("graph-pie.png");
			}
		}
		&.graph-summary-c {
			.stat {
				background-image: asset-data-url("graph-line.png");
			}
		}
	}
}

// ------------------------------------
// homepage how to links

.how-tos {
	margin: 10px 0 0;
	li {
		font-size: 16px;
		margin-bottom: 12px;
	}
}

// ------------------------------------
// homepage tweets

.tweet {
	.tweet-profile-image {
		float: left;
		width: 17%;
	}
	.tweet-body {
		float: left;
		font-size: 16px;
		width: 83%;
		.tweet-meta {
			margin-left: 20px;
		}
		.tweet-content {
			color: #6f777b;
			font-size: 16px;
			margin-left: 20px;
			padding-top: 4px;
		}
		a, date, span {
			display: inline-block;
			padding-right: 0.25em;
		}
		.tweet-username {
			font-weight: bold;
		}
		.tweet-date {
			color: #6f777b;
			&:before {
				content: '\2022';
			}
		}
	}
}

// ------------------------------------
// misc. type

html, body, button, input, main, table, td, th, .heading-xlarge, .heading-large, .heading-medium, .heading-small, #footer .footer-meta .footer-meta-inner ul, #footer .footer-meta .footer-meta-inner .open-government-licence p, #footer .footer-meta .copyright, #footer h2, .govuk-search .search-input, #global-header .header-proposition #proposition-name, #global-header .header-proposition #proposition-link a, #global-header .header-proposition #proposition-links a {
	color: #000000;
	font-family: $font_family_main;
}

.homepage-top .heading-large {
	color: #FFFFFF !important;
}


.section-note {
	color: #6f777b;
	float: right;
	font-size: 14px;
	margin-top: 30px;
	text-align: right;
	&.section-note-top {
		margin-bottom: 20px;
		margin-top: 0px;
	}
	p {
		margin: 0;
	}
}
