.news-section {
	.heading-large,
	.heading-medium,
	.heading-small {
		margin-top: 20px;
	}
}

.hero-news {
	background-color: $brand_chrome_a;
	padding: 30px;
	margin-bottom: 30px;

	@extend %clearfix;

	.news-item {
		margin-bottom: 0;
	}
}

.hero-news-copy {
	box-sizing: border-box;

	@media (min-width: $screen_medium) {
		float: left;
		width: 33.3333%;
	}
}

.hero-news-excerpt p {
	font-size: 19px;
	line-height: 32px;
}

.hero-news-image-container {
	box-sizing: border-box;
	margin-top: 10px;

	@media (min-width: $screen_medium) {
		float: left;
		width: 66.6666%;
		margin-top: 0px;
		padding-left: 100px;
	}
}

.news-category-count {
	color: $brand_chrome_b;
}

.news-item-excerpt {
	p {
		font-size: $text_xsmall;
		line-height: $text_medium;
	}
}

a.cta-read-more {
	font-size: $text_xsmall;
	font-weight: 600;
}

a.cta-comments {
	font-size: $text_xsmall;
	font-weight: 100;
	color: $brand_chrome_c;
}

.news-section {
	.news-category {
		.rule-large {
			margin-top: 0;
		}
	}

	.news-item {
		.heading-small,
		.heading-large,
		.rule-small {
			margin-top: 0px;
		}
	}
}
