.cta-comment-reply {
	font-size: 16px;
}

.comment-replies {
	position: relative;
	padding-left: 35px;
	margin: 30px 0px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 4px;
		background-color: $brand_color_c;
	}
}

.comment-name {
	color: #000000;
	font-size: $text_small;
	font-weight: 700;
}

.leave-comment-textarea {
	width: 100%;
	border: 2px solid #000000;
	padding: 20px;
	margin: 0px 0px 20px 0px;
	min-height: 100px;
	font-size: 16px;
}
