/* Links */

a {
	cursor: pointer;

	&:link {
		color: $brand_color_a;
		text-decoration: underline;
	}

	&:hover {
		color: $brand_color_a;
		text-decoration: none;
	}

	&:active {
		color: $brand_color_a;
	}

	&:visited {
		color: $brand_color_b;
	}

	// Heading links

	&:link {
		h1 &,
		h2 &,
		h3 &,
		h4 &,
		h5 &,
		h6 & {
			text-decoration: none;
		}
	}

	&:hover {
		h1 &,
		h2 &,
		h3 &,
		h4 &,
		h5 &,
		h6 & {
			text-decoration: underline;
		}
	}
}

.pull-right {
	display: inline-block;
	margin-top: 10px;
	a {
		display: inline-block;
		padding: 5px 0;
	}
	.pipe-right {
		border-right-width: 0px;
	}
}

@media (min-width: $screen-medium) {
	.pull-right {
		display: inline;
		margin-top: 0;
		a {
			padding: 0;
		}
		.pipe-right {
			border-right-width: 1px;
			padding-right: 10px;
		}
	}
}