=simple_form_for @user, url: passwords_path do |f|
  = hidden_field_tag :token, @token
  .form-group
    = f.input :password
  .form-group
    = f.input :password_confirmation
  .actions
    = submit_tag 'Submit', class: :button


