%section#password-reminder-form

  %h1 Password reset

  =form_tag passwords_path, role: 'form' do
    .form-group
      = label_tag :email
      = text_field_tag :email, nil, class: 'form-control'
    .actions
      = submit_tag 'Submit', class: :button