.grid-row.mod-pagination
  .column-one-half
    .page-information
      = page_entries_info(@versions)
  .column-one-half
    .page-navigation
      = will_paginate(@versions, renderer: BootstrapPagination::Rails, class: 'page-nav-list')
