<!DOCTYPE html>
<html>
<head>
  <title>Peoplefinder</title>
  <%= stylesheet_link_tag    "peoplefinder/application", media: "all" %>
  <%= javascript_include_tag "peoplefinder/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
