<div class="grid-row mod-heading">
  <div class="column-full">
    <h1 class="heading-large">Sorry, there is a problem with the service</h1>
    <p>Try again later.</p>
    <p>Please contact <a href="mailto:PeopleFinderSupport-gg@justice.gov.uk" class="govuk-link">PeopleFinderSupport-gg@justice.gov.uk</a> with the details to report this issue.</p>
  </div>
</div>
