// Team overview content area
.mod-team-overview{
  .column-one-third{
    @extend %contain-floats;
  }
  h3{
    margin-top:0;
    padding-top:0;
  }
}

.view-all-people{
    padding-left: 10px;
    margin-left: 10px;
  }