// $leaf-node-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAAA1CAYAAADh5qNwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABbtJREFUeNrUWk1oXFUUvpMOZFFNQksjjkYSbCGlFWKri5ZCJilYd4kIumlsZtFNFk0FQcFFW4hgQGgqpZsukqorKczMToVmpiCKjNhZNBiwOGnzA02pNImFBip4vptzH2/evJ9739yZpgde7szkzpnznXPud8697yWERTnw1c8dNKTp6qOrnz9O+0wt8niTrjLez31y7JEtOxKWgAzTNc5g4grAXaNrpl6AiTrAdNNwjgF1CLsyQ9cFArfQFFAcGYA5KxovAPexaeQShoAQlekGRCZMAChDwHK6X2gxAHSRhmyTAQn+vSz9/rS1SHG6ZQNYrNkCMhmISseEBqBCnazWdGCJ5wyQFrCwNXVxmwISbFfWiCgoSqDrUbG9JU12ntdKP5oIL9wSz48gDYvuD5I+k3yp88XWpPhsoEcM7t0lX0M2Np+K3NyquPLLonxdj9ShH/b2BEaKojTqB+qVtlZx/aM+58e8Mr/6WGS+vx0bmAX9aKnOB4Gq0NBd44oPDoq3u9rFyvomee2euHHnH9HWukN+9il5F8bM0mdn8n/GAmVBP1iwR7Fh0hOlGkBIByiHl97/pux4C+Mypcb8g8fi+kifnAePL5NhJmJJfwcT25SX/cb9Zh/fu1uOk4WKb/iRGt/+sSJfDx18yThKFvWPV1E6M55vTYIXIUiJIMmTR+XcV9uMQVnU3804nEgNB81MUciR62EkAG9Cejt3GoOyrP+UG1R/2MzltSfatBxHLOpPu4ki3QhjFQn07tnyMBY9WKy0uGZFv1/7hJ41SX9CASEtosIOVoIoY/H+0tD+mu8B4MihlJx3Jj8vdcfRHwWsxY/G3VJaXHe8HrXYEQl4ffrDN6oM9a4ZzEdtwlxT/VZA5ebuyxEeDpKxo685LIVWJ8Wexfsjl38T71z9XY4naJxllgPokcMpY/06O+XI7TyMgKfhLeUxt8AYgEBqbDx5KoYOdDoGfP7DX1URQuFEV6CAjRx6WUZKV79iwQhp1zqjQOsC+XqotyqtYMTY0a6tOb8uOsURQL4sVAL1TRb+dgjiOKWdrn5dsoikHSxS/DgMxYiWRS1Y5Vl4GvMGX9/FKbsaWncQMUQL62iQOgoZZQ3982xHlASCGqY0Qio5i5RCX1paFStrm9KYjc3/ZGuTam+lSt8uJt7dV5WyUQLDt0BtXTr6J1g32qYQJlyoAYXwT5zYJ0d4BWHP375f1UiqXswb0R9Pv6VdUNxMBgLR0Y/0xjoEaHdZ8MjdJLftroK52wGUY7aJ06iaiIl+2ATykDWP2FOtR2/6lav7rH+d/A6jWZsydqTL+DuwcfbOQ79/FWtAIWdRU+LIT5R+oF+kSkmzO0caYVdrURZaeLe4YEObl7VC+0JmSs0uQRsQ7pSoOpWzofEGp4P78CSoTKh6pNkl6ErRvfW4aUOj6j7kejwc3faAxjW7BF3JO6D4NomVFFSMicXv130jiqqV+s6HuuuQR+p2j7tNumZDMyh2hWuOOiVyA/qCizTWX85u6s34dRRTfHgR+/6TbJWozq1TY5vi9grAggQlA7RsegIVIJeCzv1wIHjOVJu3pVKRKC2tE7AdzomRIhLshN1zNVqfyChR6mWCQCFKFd1owTCkU8q1MwWb6aSV6tBPUrTU2sP3J4sVU/KoOsisAcXAcLKU1Uk11ethDWHvFNfTcA62HWo3YFj8caN7KvAs3QUsG3ZsFqeBNWl/DEDhoZIB3a1Hhrf5fWF7IuxieztfsArKINooQe/5/SPs9igAFUTz78brriPclyobgdrGwEIBRYLahsAiAXk7Cl9hBW96tyjPQMo6gLQi5Yka7tiffQaAQNkXdJ9RivPAVVo073EEMFzGe6PaOigXuFFuqbobBAaRmYnzZRsPMaJIn4oq1ro7F7lvjAnGGihP34jU7OfUTGsu/jJvUnO2HjlNNHJBMFC/tVe2+cysV/4XYAB9xhrOF2MeDQAAAABJRU5ErkJggg==');
// $org-node-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaJJREFUeNpiZMAD8surBYBUABDrA7EBmvRBIN4wsbP1Ai79jHgMLQAxgViAAT94AMSFQEs2EDQcaDDIhfOxuJQQABmeCLTkA1bDoQbvJ8K1uAAoiBxhFrCgBQVWg3PSkhlUlBRRxKbMmstw5959dKUgx60HWQDiMCFJzKfAxcjAAejQArjhQI4DNFVQC9QjuzyegbpAAOjgBJjhAQzUB/6MQBsUgIz7xKj2cHECRyKWiMSa/kGpRQGbjJmxEYOQIGr8glKMkKAgRsrBYaECEy5rzYwNwQYRAiCL0C2DARZ8Gk+dPYfiImzBAhLDWbZAM897ZJeAMg2yl3fs2YciBgIFFTUMEzpaMMSQwAEmaFa9QIPUcgEW5htpYPhCmOETgPgDFQ0+ACrnGZEKLlB50M/JycEgLSkJV/X9xw+Gd+/fo4jB4gJbkoQCQxTDoRaACq8ECl0NKtMXgBjMyKInjx7eaGFjp0BGRYFhMIbhSBaAfORAgqEPoAavIFiHQoNIAVp0BuAp50GGTgTiBcjVG0HDsVR/yMF1AGQw0MAH+PQBBBgA9nyR5x7/z3IAAAAASUVORK5CYII=);
// $arrow-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAYAAAC58NwRAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMNJREFUeNpiYACChsaWBiAWYCACMAIVKgDp+0B8AYgdG+prPuDTwATECVC2ARDvJ2QTSIM8Ep+gJpCGQiB+QKwmRqinQYrOo8lh9RMTWEN9zQWoTQyEbGJE5gAl1wOpAHw2MaFJJgLxB3w2MaJ7CijhAFKAxb9gm5gYiAcXQM5C94MANNbRg3QBUHEiNj+sx6cYRQMoAQIpB3yKkSMOm0cxFMNSKzZ3Y1UMc9J8YhXDNFwkVjFMwwJiFSOHfwCxsQcQYABohVFejwj8OwAAAABJRU5ErkJggg==);

$leaf-node-image: image-url('icon_team.png');
$org-node-image: image-url('icon_group.png');
$arrow-image-left: image-url('icon_arrow_left.png');
$arrow-image-right: image-url('icon_arrow.png');

$org-browser-column-width: 480px;
$org-browser-height: 480px;
$row-height: 45px;

//Colours
$link-colour: #005ea5;
$link-hover-colour: #2E8ACA;
$grey-2: #BFC1C3;
$grey-3: #DEE0E2;
$grey-4: #F8F8F8;

.editable-container {
  display: none;
  width: 100%;
}

.js-enabled {
  .editable-container {
    display: inline-block;
  }
}

.editable-summary {
  ol {
    height: auto;
    margin-bottom: 0;
    overflow: hidden;
    li {
      display: inline-block;
      float: left;
      &:after {
        // content: '>';
        padding: 0 4px;
      }
      &:last-child:after {
        content: '';
      }
    }
  }
}

.org-browser {
  $browser-width: 100%;
  $line-height: 25px;

  border: 1px solid $darkblue;
  font-size: 19px;
  height: 480px;
  line-height: $line-height;
  margin-top: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  width: $org-browser-column-width;

  @media (max-width: 980px) {
    width: $browser-width;
  }

  a, a:visited {
    color: $link-colour;
    &:hover {
      color: $link-hover-colour;
    }
  }
  a:focus {
    background-color: transparent;
    outline: none;
  }

  .team {
    height: 100%;
    position: relative;
    width: $org-browser-column-width;

    @media (max-width: 980px) {
      width: $browser-width;
    }

    display: none;
    &.visible, &.root-node {
      display: block;
    }

    .team-back {
      background-color: $grey-2;
      background-image: $arrow-image-left;
      background-repeat: no-repeat;
      background-position: 10px 12px;
      background-size: 12px 20px;
      display: block;
      font-size: 1.1em;
      line-height: 2.3em;
      padding-left: 1.8em;
    }

    ul {
      list-style: none;
      margin: 0;
      overflow-y: scroll;
      height: $org-browser-height - ($row-height * 2) - 5;
    }

    h3, ul li {
      margin: 0;
      height: $row-height;
      border-bottom: 1px solid $border-colour;
    }

    h3 {
      background-color: $grey-3;
      font-size: 0.9em;
      font-weight: normal;
      line-height: 2.2em;

      a {
        white-space: nowrap;
        display: block;
        margin-right: 0.5em;
        overflow: hidden;
        font-weight: bold;
      }
    }

    > ul > li {

      &.expanded {
        background-color: $grey-4;
      }

      p {
        margin: 0;
        padding: 0;
      }

      &.has-subteams > p {
        background-image: $arrow-image-right;
        background-repeat: no-repeat;
        background-position: 97% 12px;
        background-size: 12px 20px;
      }

      .subteam-link {
        display: block;
        overflow: hidden;
        height: 45px;
        padding-left: 2.1em;
        &:focus {
          background-color: #ffbf47;
        }
      }

      .subteam-name, .subteam-count {
        display: block;
      }

      .subteam-name {
        font-size: 0.9em;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 1.6em;
      }

      .subteam-count {
        font-size: 0.8em;
        color: grey;
        line-height: 0.8em;
      }

      .subteam-name {
        line-height: 2.5em;
      }

      &.has-subteams {
        > p .subteam-name {
          line-height: 1.6em;
        }
      }

      > .team {
        margin-left: $org-browser-column-width;
        position: absolute;
        top: 0;

        @media (max-width: 980px) {
          margin-left: $browser-width;
        }
      }
    }

  }

  .root-node > .team-back {
    display: none;
  }

}

form .org-browser {

  .team h3 {

    input {
      float: left;
      margin: 0.65em 0.7em 0 0.78em;
      padding: 0;
    }

  }

  .team > ul > li.leaf-node {
      background: none;
      padding: 0 3em 0 1.4em;
      position: relative;

      > p > input {
        float: left;
        margin: 0.8em 0.7em 0 0.7em;
      }

      > p > a {
        padding-left: 0;

        > .subteam-name {
          line-height: 45px;
        }
      }

  }

  .has-subteams > p > input {
    display: none;
  }

  .team {
    h3.disabled > a, li.disabled.leaf-node > p > a {
      cursor: default;
    }

    h3.disabled, li.disabled.leaf-node {
      > a, > p > a {
        color: #a2a2a2; // nicked from gov.uk colour palette, TODO: replace with a variable
        text-decoration: none;
        padding-left: 2.2em;
      }
    }

    li.disabled .leaf-node {
      input {
        display: none;
      }
      a {
        padding-left: 2em;
      }
    }

    li.disabled .subteam-link {
      color: grey;
      cursor: text;
      &:hover {
        text-decoration: none;
      }
    }

  }

}

.lte-ie8 {
  li.has-subteams > p {
    background-position: 295px 12px!important;
  }
}

.add-team {
  padding: 0 1.8em;
  a {
    background: url(/assets/icon_add_person.png) no-repeat 0 10px;
    display: block;
    font-size: 16px;
    line-height: 45px;
    padding-left: 2em;
  }
}
.new-team {
  display: none;
  .button {
    // color: #ffffff;
  }
}

.editable-summary {
  clear: both;
  .title {
    @include core-16;
    background-color: $paleblue;
    cursor: pointer;
    padding: 8px 15px 8px 8px;
    margin-right: 0;
    margin-bottom: 20px;
    width: 50%;
    strong {
      padding-right: 15px;
    }
    @media (max-width: 980px) {
      margin-right: 0;
      width: 100%;
    }
  }
  .cta {
    padding: 8px;
  }
}