.new_suggestion {
  width: 500px;

  .check-box {
    background-color: $grey-3;
    padding: 10px;
    margin-bottom: 10px;
  }

  .extra-info {
    clear: both;
    @extend %contain-floats;
    margin-bottom: 10px;
    border-left: 3px $grey-3 solid;
    padding-left: 20px;
    padding-top: 5px;
    .form-group {
      margin-bottom: 10px;
    }
  }

  fieldset {
    margin-bottom: 40px;
  }
}
