.column-three-quarters {
  @include grid-column(6.8/10);
  padding:0;
}

.team-leader-list{
  @extend %contain-floats;
}

.complete-your-profile {
  .grid-row{
    margin:0;
  }
  .column-one-quarter{
    padding: 0;
  }
}

.mod-complete{

  @extend %contain-floats;
  // border: 1px solid red;
  line-height: 15px;
  margin-top: 5px;
  .on{
    // border: 1px solid red;
    background-color: $green;
    float: left;
  }
  .off{
    // border: 1px solid red;
    background-color: $border-color;
    float: left;
  }
  .score{
    @include core-24();
    color: $green;
  }
}

.complete-your-profile {
  @include mobile(portrait){
    display: none;
  }
  background-color: $grey-bg;
  // width: 300px;
  margin-top: 5px;
  padding: $gutter/2 0 1px $gutter/2;
  font-weight: bold;
  .bar {
    @extend %contain-floats;
    line-height: $gutter/2;;
    width: 200px;
    margin-top: $gutter/3;
    float: left;
    .on {
      background-color: $green;
      float: left;
    }
    .off {
      background-color: $border-color;
      float: left;
    }
  }
  .score {
    float: left;
    margin-left: $gutter/2;
    color: $green;
    font-size: 24px;
  }
  a {
    font-weight: normal;
  }
}
.complete-your-profile.complete {
  background-color: $palegreen;
}

.completion-prompt {
  border: $gutter/15 solid $green;
  color: $green;
  padding: $gutter/2;

  p {
    margin: 0;
    font-weight: bold;
  }
}

.completing {
  input.incomplete {
    border: $gutter/15 solid $green;
    border-left-width: $gutter/3;
  }
}
