.mod-pagination {
  margin-bottom: $gutter/2;
  @extend %contain-floats;
  .page-information {
    color: grey;
    padding: 4px 6px;
  }
  .page-navigation {
    text-align:right;
  }
  .page-nav-list {
    ul, li {
      margin: 15px 0;
      display: inline;
      border: 1px solid $border-color;
      padding: 4px 6px;
    }
    .active {
      background-color: $grey-bg;
      color: grey;
    }
    .disabled {
      border: 0px;
    }
    .next, .prev {
      border: 1px solid $grey-bg;
      .disabled {
      }
    }
  }
}