.help-area{
  background-color: $grey-3;
  margin-top: 2.5em;
  padding: 0.5em 1em;
  @include core-16;
  .heading-medium{
    margin-top: 0;
  }
  .help-toggle{
    color: $link-colour;
    cursor: pointer;
    margin-bottom: 0;
    &:before{
      content: "\25BC ";
    }
    &.open:before{
      content: "\25B2 ";
    }
  }
  .help-content{
    margin-bottom: 1em;
  }
}
.form-group.has-parallel-help {
  width:75%;
  float: left;
}