
#flash-messages {
  text-align: left;
  font-weight: bold;
  .flash-message {
    margin: 15px 0;
    padding: 15px;
  }
  .notice {
    background-color: $notice-bg;
    color: white;
  }
  .warning {
    background-color: $warning-bg;
  }
  .error {
    border: 5px solid #b10e1e;
    color: #b10e1e;
  }
}