$focus-color: #FFBF47;
@mixin vertical-gradient($top-color, $bottom-color) {
  background: -moz-linear-gradient(top,  $top-color 0%, $bottom-color 70%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top-color), color-stop(70%,$bottom-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $top-color 0%, $bottom-color 70%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $top-color 0%, $bottom-color 70%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $top-color 0%, $bottom-color 70%); /* IE10+ */
  background: linear-gradient(to bottom,  $top-color 0%, $bottom-color 70%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$top-color}, endColorstr=#{$bottom-color}, GradientType=0); /* IE6-8 */
}


// Team subgroup
.mod-subgroups{
  h3{
    margin-top:0;
    padding-top:0;
  }

  .mod-subgroup{
    @include core-16;
    margin-bottom: 20px;

    .subgroup-completion {
      display: block;
      color: #6F777B;
      margin-bottom: 5px;
      margin-top: 0px;
    }

    a.subgroup-link-block {
      position: relative;
      display: block;
      color: $black;
      text-decoration: none;
      height: 220px;
      overflow: hidden;

      h3 {
        color: $link-colour;

        &:active  { color: $link-active-colour;  }
        &:visited { color: $link-visited-colour; }
      }

      &:hover h3 {
       text-decoration: underline;
       color: $link-hover-colour;
      }

      // fadeout at the bottom
      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40px;
        content: '';
        @include vertical-gradient(rgba($white, 0), $white);
      }

      // change colour of fadeout when tabbing along
      &:focus:before {
        @include vertical-gradient(rgba($focus-color, 0), $focus-color);
      }
    }

    h3 {
      margin: 0;
    }
    h4 {
      margin: 0;
    }
  }

}


