<%
  current_state = review_period_closed? ? 'closed' : 'open'
  alternate_state = review_period_closed? ? 'open' : 'closed'
%>

<p>
  <%= t(current_state, scope: 'admin.home.review_period_status') %>
</p>

<%= form_tag admin_setting_path('review_period'), method: :put do %>
  <%= hidden_field_tag('setting[value]', alternate_state) %>
  <%= button_tag(t(alternate_state, scope: 'admin.home.review_period_change'),
        class: 'button', data: { confirm: 'Are you sure?' }) %>
<% end %>
