<%
  current_state = review_period_closed? ? 'closed' : 'open'
  alternate_state = review_period_closed? ? 'open' : 'closed'
%>

<p>
  <%= t(current_state, scope: 'admin.home.review_period_status') %>
</p>

<%= form_tag admin_review_period_path, method: :put do %>
  <%= text_field_tag('setting[closes_at]') %>
  <%= button_tag(t(alternate_state, scope: 'admin.home.review_period_change'),
        class: 'button') %>
<% end %>
