<h2>Upload CSV</h2>

<%= render partial: 'admin/user_uploads/form' %>

<h2>Users</h2>

<%= link_to 'Manage users', admin_users_path %>

<h2>Review period</h2>

<%= render partial: 'review_period' %>

<h2>Notifications</h2>

<%= render partial: 'notification_emails' %>
