<h1>Editing watchlist member</h1>

<%= render 'form' %>

<%= link_to 'Show', @watchlist_member, {class: 'btn btn-default'} %>
<%= link_to 'Back to watchlist', watchlist_members_path, {class: 'btn btn-warning', style: 'color:#ffffff;'} %>
