/* Breadcrumb */

ul.breadcrumb {
	padding: 19px 0px;

	li {
		position: relative;
		display: inline-block;
		padding: 0px 20px;
		font-size: 16px;

		a {
			color: #000000;
		}

		&:before {
			content: '';
			position: absolute;
			top: 7px;
			left: -7px;
			background-image: asset-data-url("spacer.png");
			background-repeat: no-repeat;
			width: 7px;
			height: 12px;
		}

		&:first-of-type {
			padding: 0px 20px 0px 0px;
			&:before {
				background-image: none;
			}
		}
	}
}
