/* Headers */

// ------------------------------------
// Global header

#global-header.with-proposition {
	background-color: #FFFFFF;
	.header-wrapper {
		background-color: #FFFFFF;
		.header-global {
			float: left;
			width: 38%;
		}
		.header-proposition {
			padding-top: 0;
			position: relative;
			.search {
				position: absolute;
				right: 15px;
				top: 0px;
			}
			#proposition-name {
				font-size: 16px;
			}

			.beta-label {
				display: -moz-inline-stack;
				display: inline-block;
				margin: 4px 12px 0 0;
				padding: 2px 5px 0;
				//font-family: $font_family_main;
				font-weight: 100;
				text-transform: none;
				font-size: 16px;
				line-height: 1;
				text-transform: uppercase;
				letter-spacing: 1px;
				text-decoration: none;
				color: #fff;
				background-color: #005ea5;
				margin-top: 13px;
				margin-left: 7px;
				padding: 3px 6px;
			}

			#proposition-menu {
				clear: none;
				float: right;
				padding-top: 10px;
			}
			a.menu {
				clear: right;
				margin-top: 5px;
			}
			form {
				float: right;
				.govuk-search {
					&.proposition-search {
						margin-bottom: 0;
						width: auto;
					}
					.search-label {
						display: none;
					}
					.search-wrapper {
						background: transparent;
						display: inline-block;
						width: auto;
					}
					.search-element {
						display: inline-block;
					}
					.search-input {
						display: none;
					}
					.search-submit {
						height: 32px;
						width: 38px;
					}
				}
			}
		}
	}
	#logo {
		background-image: asset-data-url("dit-logo_000@2x.png");
		background-size: 137px 65px;
		margin-top: 15px;

		width: 137px;
		height: 65px;

		img {
			max-width: 100%;
			&:first-child {
				display: none;
			}
		}
	}
	#proposition-name {
		float: left;
	}
}

@media (min-width: $screen_small) {
	#global-header.with-proposition {
		.header-wrapper {
			.header-proposition {
				#proposition-menu  {
					margin-left: 15px;
				}
				#proposition-name {
					font-size: 18px;
				}
			}
		}
	}
}

@media (min-width: $screen_medium) {
	#global-header.with-proposition {
		.header-wrapper {
			.header-global {
				float: left;
				width: 25%;
			}
			.header-proposition {
				padding-top: 10px;
				width: 75%;
				.search {
					top: 9px;
				}
				#proposition-name {
					font-size: 34px;
				}
				#proposition-menu {
					clear: both;
					float: left;
					padding-top: 5px;
				}
				form {
					float: none;
					.govuk-search {
						&.proposition-search {
							width: 41.187%;
						}
						.search-label {
							display: block;
						}
						.search-wrapper {
							background: transparent;
							display: table;
							width: auto;
						}
						.search-element {
							display: table-cell;
						}
						.search-input {
							display: table-cell;
						}
						.search-submit {
							height: 40px;
							width: 40px;
						}
					}
				}
			}
		}
	}
}


// ------------------------------------
// Homepage
.homepage-top {
	background: $brand_chrome_d;
	background-image: asset-data-url("find-people-pattern.png");
	color: #ffffff;

	.homepage-top-inner {
		margin: 0 15px;
		overflow: hidden;
		position: relative;
		max-width: 980px;
		text-align: left;
	}
	.welcome-block {
		width: 100%;
		.welcome-people-finder {
			margin: 0 10px;
		}
	}

	a {
		color: #ffffff;
	}
}

@media (min-width: $screen_small) {
	.homepage-top {
		.homepage-top-inner {
			margin: 0 30px;
		}
		.welcome-block {
			width: 66.66%;
		}
	}
}

@media (min-width: $screen_medium) {
	.homepage-top {
		.welcome-block {
			.heading-large {
				margin-top: 0.9em;
				margin-bottom: 0.4em;
			}
		}
	}
}

@media (min-width: $screen_large) {
	.homepage-top {
		.homepage-top-inner {
			margin: 0 auto;
		}
	}
}

// ------------------------------------
// beta bar

#global-header-bar {
	background-color: #cd1632;
}

.beta-bar {
	font-size: 16px;
	margin: 0 15px;
	padding: 5px 0;
	position: relative;
	overflow: hidden;
	max-width: 960px;
	text-align: left;

	.beta-label {
		display: -moz-inline-stack;
		display: inline-block;
		margin: 4px 12px 0 0;
		padding: 2px 5px 0;
		font-weight: 700;
		text-transform: none;
		font-size: 16px;
		line-height: 1.14286;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-decoration: none;
		color: #fff;
		background-color: #005ea5;
		margin-right: 0;
		padding-top: 1px;
	}
	span {
		display: inline;
		margin-left: 4px;
	}
}

@media (min-width: $screen_small) {
	.beta-bar {
		margin: 0 30px;
		span {
			display: inline-block;
		}
	}
}

@media (min-width: $screen_large) {
	.beta-bar {
		margin: 0 auto;
	}
}

// ------------------------------------
// Inner pages
.select-category {
	margin: 0px;
	padding: 15px 0px;

	.form-control {

	}

	.form-label {
		display: inline-block;
		margin-left: 120px;
		margin-right: 10px;
		font-weight: 700;
	}
}
