.post-meta {
	color: #6f777b;
	padding-top: 4px;
	padding-bottom: 1px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 16px;

	@media(min-width: $screen_medium) {
		padding-top: 0px;
		padding-bottom: 0px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
