// ------------------------------------
// govuk-search

.govuk-search {
	position: relative;
	margin-bottom: 40px;
	.search-label {
		color: #6f777b;
		display: block;
	}
	.search-wrapper {
		display: table;
		width: 87%;
		background: #fff;
	}

	&.proposition-search .search-wrapper {
		border: 2px solid #000000;
	}

	.search-element {
		position: relative;
		display: table-cell;
		vertical-align: top;
	}
	.search-input {
		padding: 6px;
		margin: 0;
		width: 100%;
		height: 40px;
		border: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-family: $font_family_main;
		font-weight: 400;
		text-transform: none;
		font-size: 16px;
		line-height: 1.75;
		background: #fff;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		&:focus,
		&.focus {
			z-index: 2;
		}
	}
	.search-submit-wrapper {
		width: 1%;
	}
	.search-submit {
		position: relative;
		padding: 0;
		width: 40px;
		height: 40px;
		background-color: #cd1632;
		background-image: asset-data-url("icon-search-submit.png");
		background-repeat: no-repeat;
		background-position: 2px 50%;
		border-width: 0px;
		color: #fff;
		text-indent: -5000px;
		overflow: hidden;
	}
	&.proposition-search {
		float: right;
		width: 41.187%;
		.search-submit {
			background-color: #005ea5;
		}
	}
}

.js-enabled {
	.govuk-search {
		.search-label {
			position: absolute;
			left: 15px;
			top: 1px;
			z-index: 1;
			font-family: $font_family_main;
			font-weight: 400;
			text-transform: none;
			font-size: 16px;
			line-height: 40px;
			color: #6f777b;
		}
	}
}

input[type="search"] {
	min-width: 8em;
}

@media (min-width: $screen_small) {
	.js-enabled {
		.govuk-search {
			.search-label {
				font-size: 19px;
				line-height: 40px;
			}
		}
	}
	.govuk-search {
		.search-input {
			font-size: 19px;
			line-height: 1.47368em;
		}
	}
}
