/* Typography */

$text_large		: 36px;
$text_medium	: 24px;
$text_small		: 19px;
$text_xsmall	: 16px;
$text_xxsmall	: 12px;

.heading-large {
	font-size: $text_large;
}

.heading-medium {
	font-size: $text_medium;
}

.heading-small {
	font-size: $text_small;
}

p,
ul,
ol,
dl {
	li {
		font-size: $text_small;
	}
}
