.beta-bar {
	font-size: 16px;
	margin: 0 15px;
	padding: 5px 0;
	position: relative;
	overflow: hidden;
	max-width: 960px;
	text-align: left;
	.beta-label {
		display: -moz-inline-stack;
		display: inline-block;
		margin: 4px 12px 0 0;
		padding: 2px 5px 0;
		//font-family: $font_family_main;
		font-weight: 700;
		text-transform: none;
		font-size: 16px;
		line-height: 1.14286;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-decoration: none;
		color: #fff;
		background-color: #005ea5;
		margin-right: 0;
		padding-top: 1px;
	}
	span {
		display: inline;
		margin-left: 4px;
	}
}

@media (min-width: $screen_small) {
	.beta-bar {
		margin: 0 30px;
		span {
			display: inline-block;
		}
	}
}

@media (min-width: $screen_large) {
	.beta-bar {
		margin: 0 auto;
	}
}
