// ------------------------------------
// checkbox lists

ul.inline-list {
	margin-top: 5px;
	li {
		width: 100%;
	}
}

@media (min-width: $screen-medium) {

	ul.inline-list {
		margin-top: 0;
		li {
			display: block;
			float: left;
			width: 33%;
			&:nth-child(3n + 1) {
				clear: left;
			}
		}
	}

	.form-label + ul.inline-list {
		margin-top: 20px;
	}

}

// ------------------------------------
// organisation browser

.org-browser {
	border: 2px solid $brand_color_a;
	.team {
		a {
			color: $brand_color_a;
		}
		h3 {
			background-color: #fdf6f3;
			border-bottom: 2px solid $brand_color_a;
			line-height: 2.6em;
		}
		ul {
			li {
				border-bottom: 2px solid $brand_color_a;
			}
		}
		.team-back {
			background-color: #fcece7;
			border-bottom: 2px solid $brand_color_a;
			color: $brand_color_a;
		}
	}
}

.privacy-notice {
  width: 80%;
}
