.form-group
  = f.input :budget_type, label: 'Type', required: false
.form-group
  = f.input :budget_value, label: 'Value', required: false
.form-group
  = f.input :description, label: 'Description', required: false
