.form-group
  = f.input :objective_type, label: 'Type', required: false
.form-group
  = f.input :description, label: 'Objective', required: false
.form-group
  = f.input :deliverable, label: 'Deliverables', required: false
.form-group
  = f.input :measures, label: 'Measures / Targets', required: false
