$grey-background: rgba(#DEE0E2, 0.5);
$grey-border: #BFC1C3;

#flash-messages {
  .flash-message {
    border: 1px solid black;
    margin: 15px 0;
    padding: 15px;
  }
  .notice {
    background-color: #ffd;
  }
}

input[type="radio"] {
  -webkit-appearance: radio
}

.top-left {
  margin-top: 15px;
  a {
    text-decoration: none;
  }
}

h1 {
  margin-top: 30px;
}

ul#tab_navigation {
  list-style: none;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 30px 0;
  li {
    height: 70px;
    width: 30%;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    border-bottom: 1px solid  black;
    font-size: 24px;
    a {
      text-decoration: none;
    }
  }
  li.linkable:nth-of-type(2) ~ li.linkable {
    border-left: 1px solid #BFC1C3;
  }
  li.linkable ~ li.linkable:nth-of-type(2) {
    border-left: 1px solid #BFC1C3;
  }
  li.active {
    border-bottom: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
  }
}

.form-label-bold {
  font-size: 19px;
  margin-top: 19px;
}

table {
  margin-bottom: 60px;
  th, td {
    padding-left: 15px;
  }
  tr.stripe {
    background-color: $grey-background;
    border-top: 1px $grey-border solid;
    border-bottom: 1px $grey-border solid;
  }
  td {
    height: 30px;
    a{
      text-decoration: none;
    }
  }
  td.name {
    font-size: 24px;
    font-weight: bold;
  }
  .button {
    margin: 0;
  }
}

.indicator-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px 0 0;
  padding: 0;
  border-radius: 5px;
}
.review-status-declined .indicator-dot {
  background-color: #df3034;
}
.review-status-no_response .indicator-dot,
.review-status-accepted .indicator-dot,
.review-status-started .indicator-dot {
  background-color: #ffbf47;
}
.review-status-submitted .indicator-dot {
  background-color: #5baf19
}

.field_with_errors input{
  border: 3px solid red;
}

$rating-1-color: rgba(255, 191, 71, 0.25);
$rating-2-color: rgba(255, 191, 71, 0.5);
$rating-3-color: rgba(255, 191, 71, 0.75);
$rating-4-color: rgba(255, 191, 71, 1.0);

.intro {
  dt, dd {
    height: 25px;
    line-height: 25px;
    padding: 10px;
  }
  dt {
    clear: left;
    float: left;
    width: 25px;
    font-size: 24px;
    background-color: rgba(255, 191, 71, 0.25);
    text-align: center;
    margin-right: 15px;
  }
  dd {
    margin: 10px 0;
  }
  dt:nth-child(1) { background-color: $rating-1-color }
  dt:nth-child(3) { background-color: $rating-2-color }
  dt:nth-child(5) { background-color: $rating-3-color }
  dt:nth-child(7) { background-color: $rating-4-color }
}

.submission-form {
  .block-label {
    padding: 10px 30px 10px 45px;
    input {
      top: 13px;
      left: 15px;
    }
    line-height: 25px;
    font-size: 24px;
  }
  .block-label:nth-child(2) { background-color: $rating-1-color; }
  .block-label:nth-child(3) { background-color: $rating-2-color; }
  .block-label:nth-child(4) { background-color: $rating-3-color; }
  .block-label:nth-child(5) { background-color: $rating-4-color; }
  .block-label.selected {
    background-color: white;
    border: 3px solid $rating-4-color;
    padding: 8px 28px 8px 43px;
    input {
      top: 11px;
      left: 13px;
    }
  }

  textarea {
    width: 75%;
    height: 180px;
  }
}

hr {
  border: none;
  border-bottom: 1px solid #BFC1C3;
  margin: 30px 0;
}

hr.more-space {
  margin-top: 60px;
}

.action-row button {
  float: left;
}

.action-row div {
  float: left;
  padding: 8px 0;
}

.action-row div.autosave-status {
  float: right;
  color: #6f777b;
}

.autosave-status .indicator {
  display: none;
}

.autosave-status .saved {
  background-image: image-url('saved_tick.gif');
  background-repeat: no-repeat;
  background-position: 0px 2px;
  padding-left: 31px;
}

ol {
  list-style-type: decimal;
  margin-left: 25px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}
