@import "people";
@import "groups";

.edit_this_page {
  float: right;
}

.people-search {
  margin-top: 15px;

}
.people-search input[type='submit'] {
  position: absolute;
  margin-top: 2px;
  width: 40px;
  height: 35px;
  border: 1px solid #6F777B;
  border-width: 0 0 0 1px;
  text-indent: -5000px;
  overflow: hidden;
  background: #6F777B url(/assets/search-button.png) no-repeat 2px 50%;
}
