$grey-background: rgba(#DEE0E2, 0.5);
$grey-border: #BFC1C3;

#flash-messages {
  .flash-message {
    border: 1px solid black;
    margin: 15px 0;
    padding: 15px;
  }
  .notice {
    background-color: #ffd;
  }
  .error {
    background-color: #fdd;
  }
}

input[type="radio"] {
  -webkit-appearance: radio;
}
input.form-control[type="select"] {
  -webkit-appearance: menulist;
}

#content .inner-block {
  position: relative;
}
.top-left {
  margin-top: 15px;
  a {
    text-decoration: none;
  }
}
.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

h1 {
  margin-top: 30px;
}

ul#tab_navigation {
  list-style: none;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 30px 0;
  li {
    height: 70px;
    width: 30%;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    border-bottom: 1px solid  black;
    font-size: 24px;
    a {
      text-decoration: none;
    }
  }
  li.linkable:nth-of-type(2) ~ li.linkable {
    border-left: 1px solid #BFC1C3;
  }
  li.linkable ~ li.linkable:nth-of-type(2) {
    border-left: 1px solid #BFC1C3;
  }
  li.active {
    border-bottom: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
  }
}

.form-label-bold {
  font-size: 19px;
  margin-top: 19px;
}

table {
  margin-bottom: 60px;
  th, td {
    padding-left: 15px;
  }
  tr.stripe {
    background-color: $grey-background;
    border-top: 1px $grey-border solid;
    border-bottom: 1px $grey-border solid;
  }
  td {
    height: 30px;
    a{
      text-decoration: none;
    }
  }
  td.name {
    font-size: 24px;
    font-weight: bold;
  }
  .button {
    margin: 0;
  }
}

.indicator-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px 0 0;
  padding: 0;
  border-radius: 5px;
}
.review-completion-none .indicator-dot,
.review-status-declined .indicator-dot {
  background-color: #df3034;
}
.review-completion-some .indicator-dot,
.review-status-no_response .indicator-dot,
.review-status-accepted .indicator-dot,
.review-status-started .indicator-dot {
  background-color: #ffbf47;
}
.review-completion-all .indicator-dot,
.review-status-submitted .indicator-dot {
  background-color: #5baf19
}

.field_with_errors {
  input, textarea, select {
    border: 3px solid red;
  }
}

$rating-grey: #dee0e2;
$rating-1-color: rgba(255, 191, 71, 0.2);
$rating-2-color: rgba(255, 191, 71, 0.4);
$rating-3-color: rgba(255, 191, 71, 0.6);
$rating-4-color: rgba(255, 191, 71, 0.8);
$rating-5-color: rgba(255, 191, 71, 1.0);

dl.review-aggregation {
  margin: 20px 0;
  overflow: auto;
  dt, dd {
    padding: 10px 15px;
    margin: 10px 0;
    float: left;
  }
  dt {
    clear: left;
    background-color: $rating-grey;
    width: 245px;
  }
  dd {
    clear: right;
    width: 170px;
  }
}

.rating-view {
  width: 270px;
  padding: 10px 15px;
  line-height: 25px;
  font-size: 24px;
  background-color: $rating-grey;
}

.rating-1 { background-color: $rating-1-color }
.rating-2 { background-color: $rating-2-color }
.rating-3 { background-color: $rating-3-color }
.rating-4 { background-color: $rating-4-color }
.rating-5 { background-color: $rating-5-color }

.intro {
  dt, dd {
    height: 25px;
    line-height: 25px;
    padding: 10px;
  }
  dt {
    clear: left;
    float: left;
    width: 55px;
    font-size: 24px;
    background-color: $rating-grey;
    text-align: center;
    margin-right: 15px;
    padding: 10px 0;
  }
  dd {
    margin: 10px 0;
  }
  dt:nth-child(1) { background-color: $rating-1-color }
  dt:nth-child(3) { background-color: $rating-2-color }
  dt:nth-child(5) { background-color: $rating-3-color }
  dt:nth-child(7) { background-color: $rating-4-color }
  dt:nth-child(9) { background-color: $rating-5-color }
}

fieldset.inline {
  p.error,
  .block-label {
    padding: 10px 30px 10px 45px;
    input {
      top: 13px;
      left: 15px;
    }
    line-height: 25px;
  }

  .block-label {
    font-size: 24px;
  }
}

.submission-form {
  .block-label:nth-child(2),
  .field_with_errors:nth-child(2) .block-label {
    background-color: $rating-1-color;
  }
  .block-label:nth-child(3),
  .field_with_errors:nth-child(3) .block-label {
    background-color: $rating-2-color;
  }
  .block-label:nth-child(4),
  .field_with_errors:nth-child(4) .block-label {
    background-color: $rating-3-color;
  }
  .block-label:nth-child(5),
  .field_with_errors:nth-child(5) .block-label {
    background-color: $rating-4-color;
  }
  .block-label:nth-child(6),
  .field_with_errors:nth-child(6) .block-label {
    background-color: $rating-5-color;
  }
  .field_with_errors .block-label.selected,
  .block-label.selected {
    background-color: white;
    border: 3px solid $rating-5-color;
    padding: 8px 28px 8px 43px;
    input {
      top: 11px;
      left: 13px;
    }
  }

  textarea {
    width: 75%;
    height: 180px;
  }
}

hr {
  border: none;
  border-bottom: 1px solid #BFC1C3;
  margin: 30px 0;
}

hr.invisible {
  border-bottom: none;
}

hr.more-space {
  margin-top: 60px;
}

.action-row button {
  float: left;
}

.action-row div {
  float: left;
  padding: 8px 0;
}

.autosave-status {
  color: #6f777b;
}

.action-row div.autosave-status {
  float: right;
}
.top-right .autosave-status {
  text-align: right;
}

.autosave-status .indicator {
  display: none;
}

.autosave-status .saved {
  background-image: image-url('saved_tick.gif');
  background-repeat: no-repeat;
  background-position: 0px 2px;
  padding-left: 31px;
}

ol {
  list-style-type: decimal;
  margin-left: 25px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

h4 {
  margin-top: 30px;
}

.feedback-requests {
  textarea {
    width: 398px;
  }
  .form-label-bold {
    font-weight: normal;
    margin: 15px 0;
  }
  .one-row {
    .form-label-bold {
      display: none;
    }
    fieldset, label, button {
      width: auto;
      float: left;
      clear: none;
    }
    button {
      margin-top: 11px;
    }
  }
}

@import 'print';
