$is-ie: true;
$ie-version: 8;

@import "application";

.js-enabled .block-label input {
  filter: none;
}

.form-group.mod-media.card .media-left{
  width: 240px;
}

html.lte-ie8 {
	#global-header {
		&.with-proposition {
			.header-wrapper {
				.header-global {
					float: left;
					width: 25%;
				}
				.mobile-header {
					display: none;
				}
				.header-proposition {
					clear: none;
					width: 75%;
					float: left;
					#proposition-menu {
						#proposition-links {
							li {
								float: left;
								margin-right: 20px;
								width: auto;
							}
						}
					}
				}
			}
		}
	}
}
