$is-ie: true;
$ie-version: 6;
$mobile-ie6: false;

@import "application";

//SEARCH tweaks
.js-enabled .mod-search .mod-search-form{
  .mod-search-input {
    BACKGROUND: none;
  }

  .mod-search-input {
    border-width: 2px;
    height: auto;
  }

  .mod-search-submit {
    background: $black image-url("search-button.png") no-repeat 2px 50%;
    text-indent: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
  }

  .mod-search-input {}

  LABEL {
    FONT-WEIGHT: 400;
    FONT-SIZE: 16px;
    Z-INDEX: 5; LEFT: 0px;
    TEXT-TRANSFORM: none;
    COLOR: $text-colour;
    TEXT-INDENT: 0;
    LINE-HEIGHT: 40px;
    FONT-FAMILY: "nta", Arial, sans-serif;
    POSITION: relative;
    TOP: auto;
  }
}
