#flash-messages {
 .flash-message {
   border: 1px solid black;
   margin: 15px 0;
   padding: 15px;
 }
 .notice {
   background-color: #ffd;
 }
}

h1 {
  margin-top: 30px;
}

input.form-control.wide {
  width: 65% !important;
}

input.form-control.x-wide {
  width: 85% !important;
}

textarea.form-control.x-wide {
  width: 85% !important;
  height: 90px !important;
}

textarea.form-control.xx-wide {
  width: 100% !important;
  height: 90px !important;
}

.form-label-bold {
  margin-top: 30px;
}

h2.form-section {
  margin-top: 30px;
}

.pound {
  background-image: image-url('poundbg.png');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.form-checkbox {
  width: 150px;
  float: left;
  margin: 0;
}

.grades-covered {
  width: 75%;
}

.hidden {
  display: none;
}

.cloneable-item:first-child .grid-divider {
  display: none;
}
