$blackish: #6F777B;
$darkblue: #005EA5;
$turqoise: rgba(#28A197, 0.5);
$opaqueblue: rgba(#2B8CC4, 0.25);

@import "people";
@import "groups";
@import "home";
@import "search_box";
@import "org_browser";

#last_update {
  float: right;
  top: 75px;
  position: relative;
}

.breadcrumbs_and_edit_link {
  margin-top: 1em;
  margin-bottom: 1em;
}

.edit_this_page {
  float: right;
}

.breadcrumbs {
  display: inline-block;
}

.image-background {
  position: relative;
}
.image-background img {
  position: absolute;
}
#flash-messages {
  .flash-message {
    margin: 15px 0;
    padding: 15px;
  }
  .notice {
    background-color: #c9d8bd;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  margin: 30px 0;
  border-bottom: 1px solid $blackish;
}

h4 {
  margin-top: 6px;
}

strong {
  font-weight: bold;
}

.title_with_edit {
  position: relative;
  a {
    position: absolute;
    right: 0;
    bottom: 13px;
  }
  h1, h2 {
    padding-right: 175px;
  }

}

textarea {
  height: 158px
}
.grey-panel {
  background-color: #DEE0E2;
  width: 47%;
  margin: 15px 0 15px 0;
  padding: 15px 15px 15px 15px;
  label.form-label-bold {
    font-size: 19px;
  }
  input.form-control {
    width: 95%;
  }
  select.form-control {
    width: 95%;
  }
  input.boolean {
    width: 20px;
  }
}
.remove-link {
  font-size: 19px;
  float: right;
}

select.form-control {
  -webkit-appearance: menulist;
}

a.add-new-person {
  margin-top: 16px;
  float: right;
  color: $darkblue;
  padding: 10px 15px 11px 58px;
  background: $opaqueblue image-url('icon_plus.png') no-repeat 14px;
}

.editing-alert {
  background-color: $turqoise;
  text-align: center;
  padding-top:5px;
  height: 30px;
}

form .text .wider   {
    width: 590px;
    max-width: 590px;
    height: 205px;
}

@import 'retinal_images';
