@import "people";
@import "groups";

main#content {
  padding-bottom: 90px;
}

.edit_this_page {
  float: right;
}

.breadcrumbs {
  display: inline-block;
}

.people-search {
  margin-top: 15px;

}
.people-search input[type='submit'] {
  position: absolute;
  margin-top: 2px;
  width: 40px;
  height: 35px;
  border: 1px solid #6F777B;
  border-width: 0 0 0 1px;
  text-indent: -5000px;
  overflow: hidden;
  background: #6F777B image-url("search-button.png") no-repeat 2px 50%;
}
.image-background {
  position: relative;
}
.image-background img {
  position: absolute;
}
#flash-messages {
  .flash-message {
    border: 1px solid black;
    margin: 15px 0;
    padding: 15px;
  }
  .notice {
    background-color: #ffd;
  }
}

h1, h2 {
  margin-top: 30px;
}

textarea {
  height: 158px
}
.grey-panel {
  background-color: #DEE0E2;
  width: 47%;
  margin: 15px 0 15px 0;
  padding: 15px 15px 15px 15px;
  label.form-label-bold {
    font-size: 19px;
  }
  input.form-control {
    width: 95%;
  }
  select.form-control {
    width: 95%;
  }
  input.boolean {
    width: 20px;
  }
}
.remove-link {
  font-size: 19px;
}
