$lightgrey: #DEE0E2;

* {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

body {
  width:100% !important;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  margin: 0;
  padding: 0;
}

table {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  border-collapse: collapse;
  padding: 0;
  border-spacing: 0;
  margin: auto;
}

table.main {
  padding: 0;
  width: 100% !important;
  line-height:100% !important;
}

table.banner {
  background-color: #000000;
  line-height: normal;
  width: 600px;
}

td.govuk-logo {
  width: 100%;
  color: white;
  background-color: #000000;
  padding: 5px 0 5px 20px;
  .text-vertical-left {
    padding: 5px 0 5px 35px;
    font-size: 20px;
  }
  img {
    width: 32px;
    height: 32px;
    float: left;
    -ms-interpolation-mode:bicubic;
  }
}

#global-header-bar {
  height: 5px;
  background-color: #005ea5;
  width: 560px;
  padding: 0;
  border-spacing: 0;
  margin: auto;
}

table.footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #a1acb2;
  background-color: lightgrey;
}

td {
  border-collapse: collapse;
  min-width:10px;
  color: #434343;
}

td.title-header{
  padding-left: 20px;
  width: 560px;
  padding-bottom: 10px;
  strong {
  font-size: 22px;
  font-weight: bold;
  line-height: 200%;
  }
}

td.footer-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: #373737;
  a {
    color: #097FC9;
  }
}

.button {
  font-size: 24px;
  color: #ffffff;
  background-color: #00823b;
  font-size: 24px;
  font-weight: normal;
  text-decoration: none;
  line-height: normal;
}

.button-container {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #003518;
  background-color: #00823b;
  margin-left: 0;
  td {
    padding: 15px 15px;
  }
}

li.align-indent {
  text-indent: -2em;
  padding-left: 2em;
}

.browser-warning {
  padding: 10px;
  background-color: lightgrey;
}
