.group-leader {
  .image-background {
    height: 300px;
  }
  img {
    width: 300px;
    clip: rect(0px, 300px, 300px, 0px);
  }
}

.team-member {
  min-height: 300px;
  .image-background {
    height: 217px;
  }
  img {
    width: 217px;
    clip: rect(0px, 217px, 217px, 0px);
  }
  .role {
    font-size: 16px;
  }
}
.responsibilities {
  background-color: #ddd;
  padding: 5px;
}

.subgroup {
  margin-bottom: 20px;
  h3 {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  .image-background {
    height: 300px;
  }
  img {
    width: 300px;
    clip: rect(0px, 300px, 300px, 0px);
  }
}

