#home-page {
  .hint-text {
    margin: 12px 0 -8px 0;
  }
  .search-box {
    padding-bottom: 56px;
    border-bottom: 1px solid $darkblue;
  }
  a.add-new-person {
    margin-top: 2px;
  }
  h3.org-structure {
    margin: 29px 0 30px 0;
  }
  .org-browser {
    margin-top: 15px;
    border: 1px solid $darkblue;
    width: 950px;
    height: 400px;
  }
}
