.org-browser {
  $browser-height: 480px;
  $browser-width: 950px;
  $line-height: 25px;

  font-size: 19px;
  line-height: $line-height;

  height: $browser-height;
  width: $browser-width;
  border: 1px solid $darkblue;
  margin-top: 15px;

  ul {
    list-style-type: none;
  }

  div, ul, li {
    padding: 0;
    margin: 0;
  }

  .actionable {
    cursor: pointer;

    label, input {
      cursor: pointer;
    }
  }

  .collapsed-groups {
    $column-height: $browser-height;
    $column-width: 45px;

    li {
      height: $column-height;
      width: $column-width;
      float: left;
      border-right: 1px solid white;
      overflow: hidden; // for animation
      background-color: #f7f9fb;
    }

    // Alpha-blend with white with alpha = 0.75^n
    li:nth-child(1) { background-color: #9bb7ce; }
    li:nth-child(2) { background-color: #b3c9da; }
    li:nth-child(3) { background-color: #c6d6e3; }
    li:nth-child(4) { background-color: #d4e0ea; }
    li:nth-child(5) { background-color: #dfe8ef; }
    li:nth-child(6) { background-color: #e7edf3; }
    li:nth-child(7) { background-color: #edf2f6; }
    li:nth-child(8) { background-color: #f1f5f8; }
    li:nth-child(9) { background-color: #f4f7fa; }

    .block {
      width: $column-height; // } sic
      height: $column-width; // } because it's rotated

      span, label {
        padding: (($column-width - $line-height) / 2) 5px;
        padding-right: 0;
        display: inline-block;
      }
    }

    .sideways {
      -webkit-transform: rotate(-90deg) translate(-$column-height, 0px);
      transform: rotate(-90deg) translate(-$column-height, 0px);
      -webkit-transform-origin: top left;
      transform-origin: top left;
      width: $column-height;
      height: $column-width;
      text-align: center;
      font-weight: bold;
    }

    .animate {
      width: $column-width;
    }
    .animate.ng-enter,
    .animate.ng-leave {
      -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    }

    .animate.ng-leave.ng-leave-active,
    .animate.ng-enter {
      width: 0px;
    }

    .animate.ng-enter.ng-enter-active,
    .animate.ng-leave {
      width: $column-width;
    }
  }

  .expanded-groups {
    float: left;
    $row-width: 400px;
    $row-height: 40px;
    border-right: 1px solid $border-color;

    li {
      height: $row-height;
      width: $row-width;
      border-bottom: 1px solid $border-color;

      span, a, label {
        padding: (($row-height - $line-height) / 4.2) 5px;
        padding-right: 0;
        display: inline-block;
      }
    }

    li:first-child {
      background-color: #f8f8f8;
    }

    .block {
      width: $row-width;
      height: $row-height;
      position: relative;
    }

    .arrow {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 0;
      padding-top: 8px;
      color: $border-color;
    }
  }
}
