ul.working_days {
  clear: both;
  list-style: none;
  padding: 0;
  li {
    display:inline-block;
    text-align: center;
    background-color: gray;
    width:25px;
    padding:3px 0;
    color: white;

    &.active {
      background-color: rgb(98,152,187);
    }
  }
}

.profile {
  min-height: 300px;
  .image-background {
    height: 300px;
  }
  img {
    width: 300px;
    clip: rect(0px, 300px, 300px, 0px);
  }
}

img.preview {
  margin-top: 15px;
  width: 100px;
  clip: rect(0px, 100px, 100px, 0px);
}

#search_results {
  h1 {
    margin: 30px 0 -10px 0 !important;
    border: 0 !important;
  }
  .search-hint {
    padding: 0 0 12px 0;
    border-bottom: 1px solid #6F777B;
  }
  .pagination {
    padding: 9px 0 0 0;
    margin-bottom: -5px;
  }
  .search-result {
    margin: 15px 0 15px 0;
    border-top: 1px solid #DEE0E2;

    .grid-wrapper {
      margin-top: 15px;
      img {
        width: 125px;
        clip: rect(0px, 125px, 125px, 0px);
        float: left;
      }
      .details {
        float: left;
        margin: -5px 0 0 140px;
        .meta  {
          height: 30px;
          width: 400px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

}
