ul.working_days {
  clear: both;
  list-style: none;
  padding: 0;
  li {
    display:inline-block;
    text-align: center;
    background-color: gray;
    width:25px;
    padding:3px 0;
    color: white;

    &.active {
      background-color: rgb(98,152,187);
    }
  }
}
img.profile-page {
  height:300px;
  max-width: 300px;
}

.form-checkbox input {
  -webkit-appearance: checkbox;
  width: 10px;
}
