.panel-indent {
	clear: both;
	border-left: 5px solid #dee0e2;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	
}

h2.section {
    border-bottom: solid 1px;
}

.uin {
    font-family: "nta", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    font-weight: 700;
}


ul.questions-list {
	list-style: none;
    width: 75%;
}


.questions-list li{
	margin-top: 20px;
    border: 1px solid #bfc1c3;
    padding: 15px;
}


.questions-list .button {
	float: right;
}


.questions-list span {
	margin-right: 10px;
}

.questions-list .date {
    font-size: 0.9em;
    margin: 5px 0 5px 0;

}

.questions-detail-outer { width: 700px;
	margin-top: 20px;
    border: 1px solid #bfc1c3;
    padding: 15px;
}

.member-photo
{
	margin: 5 5 5 5;
    border: 1px solid #bfc1c3;
    height: 90px;
	width: 70px;
}


.deadline_input {
    width: 192px;
}




