.panel-indent {
	clear: both;
	border-left: 5px solid #dee0e2;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}




ul.questions-list {
	list-style: none;	
}


.questions-list li{
	margin-top: 20px;
    border: 1px solid #bfc1c3;
    padding: 15px;
}


.questions-list .button {
	float: right;
}


.questions-list span {
	margin-right: 10px;
	font-size: 1.06em;
}

.questions-list .date {
    font-size: 0.9em;
}