/* ensure this declaration is rendered after the original declaration */
@media only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

  .search-box .submit-button {
    background-image: image-url('icon_search_retina.png');
    background-size: 46px 47px;
  }

  a.add-new-person {
    background-image: image-url('icon_plus_retina.png') !important;
    background-size: 31px 31px !important;
  }

  .delete-actions .deletable {
    background-image: image-url('icon_delete_retina.png') !important;
    background-size: 31px 31px !important;
  }
}
