form.search-box {
  .form-control {
    width: 480px;
    max-width: 89% !important;
    height: 47px;
  }
  margin-top: 15px;
  input.form-control {
    padding: 10px;
  }
  .submit-button {
    position: absolute;

    margin-left: -4px;
    width: 47px;
    height: 47px;
    border: 1px solid $blackish;
    border-width: 0 0 0 1px;
    text-indent: -5000px;
    overflow: hidden;
    background: $blackish image-url('icon_search.png') no-repeat -1px 50%;
  }
}
