.report-row, .report-name {
  display: inline-block;
  .report-name {
    padding-right: 0.4em;
  }
}
.download-link {
  height: 18px;
  border-left: 1px solid black;
  display: inline-block;
  padding-left: 0.4em;
}
