$blackish: #6F777B;
$darkblue: #005EA5;
$turqoise: rgba(#28A197, 0.5);
$opaqueblue: rgba(#2B8CC4, 0.25);
$paleblue: rgba(#9BB7CE, 0.5);
$error-text: #DF3034;
$error-border: $error-text;
$error-bg: #FBE1E1;
$notice-bg: #c9d8bd;
$pink-bg: #FEF7F7;
$grey-bg: #DEE0E2;
$green: #006435;
$border-color: #bfc1c3;

@import '_colours'; // GDS colour mixins
@import "people";
@import "groups";
@import "home";
@import "search_box";
@import "org_browser";
@import "select2";
@import "select2_fixes";

.form-control {
  max-width: 100% !important;
}

#report_link {
  float: left;
  top: 75px;
  position: relative;

  @media screen and (max-width: 320px) {
    margin-bottom: 1em;
  }
}

#last_update {
  float: right;
  top: 75px;
  position: relative;
}

.breadcrumbs {
  margin-top: 1em;
  margin-bottom: -9px;

  ol {
    li {
      display: inline-block;
    }
    li::after {
      content: ' > ';
    }
    li:last-child:after {
      content: '';
    }
  }
}

.image-background {
  position: relative;
}
.image-background img {
  position: absolute;
}
#flash-messages {
  text-align: center;
  .flash-message {
    margin: 15px 0;
    padding: 15px;
  }
  .notice {
    background-color: $notice-bg;
  }
  .error {
    background-color: $error-bg;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  margin: 30px 0;
  border-bottom: 1px solid $blackish;
}

h1.no-line, h2.no-line {
  border-bottom: 0;
}

h2.line-above, h2.h3.line-above, h3.line-above, .line-above {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid $blackish;
  border-bottom: 0;
}

h1.h3, h2.h3 {
  font-size: 24px;
  margin: 3px 0 2px 0;
}

h2.h4 {
  font-size: 19px;
}

h4 {
  margin-top: 6px;
}

strong {
  font-weight: bold;
}

.title-with-edit {
  border-bottom: 1px solid $blackish;
  margin-bottom: 30px;
  h1 {
    border: 0 !important;
    margin: 30px 0 0 0;
    max-width: 50%;
  }
  a {
    float: right;
    margin:-39px 89px 0 0;
  }
}

hr {
  clear: both;
}

.spacer-5 {
  height: 5px;
}

.spacer-10 {
  height: 10px;
}

.spacer-15 {
  height: 15px;
}

.spacer-20 {
  height: 20px;
}

.spacer-25 {
  height: 25px;
}

.spacer-45 {
  height: 45px;
}

.spacer-55 {
  height: 55px;
}

select.form-control {
  -webkit-appearance: menulist;
}

a.add-new-person {
  margin-top: 16px;
  float: right;
  color: $darkblue;
  padding: 10px 15px 11px 58px;
  background: $opaqueblue image-url('icon_plus.png') no-repeat 14px;

  @media screen and (max-width: 320px) {
    float: none;
    display: block;
  }
}

.editing-alert {
  background-color: $turqoise;
  text-align: center;
  padding:1em;
  height: auto;
}

form .text .wider   {
    width: 95%;
    height: 205px;
}

.save-cancel-actions {
  padding-top: 30px;
  border-top: 1px solid $blackish;
}

.delete-actions {
  padding: 30px 0;
  border-top: 1px solid $blackish;

  .deletable {
    background: transparent image-url('icon_delete.png') no-repeat 0;
    padding: 10px 0 0 45px;
    height: 35px;
  }
  .opaque {
    color: rgba($darkblue, .50);
    opacity: .50;
  }
}

form input[readonly] {
  background-color: $grey-3;

  &:focus {
    outline: none;
  }
}

.form-hint{
  word-wrap: break-word;
}

.editable-summary {
  clear: both;
  .title {
    background-color: $paleblue;
    float: left;
    padding: 8px 15px 8px 8px;
    margin-right: 15px;
    max-width: 70%;
    strong {
      padding-right: 15px;
    }
  }
  .cta {
    padding: 8px;
    float: left;
  }
}

@mixin shared-error {
  border: 0 solid $error-border;
  background: $error-bg;
  padding: 15px;
  width: 60%;
}

.alert-error {
  @include shared-error;

  border-width: 4px;
  margin-bottom: 30px;
}

.gov-uk-field-error {
  @include shared-error;

  border-left-width: 4px;

  input {
    width: 90%;
  }

  .error {
    color: $error-text;
    font-size: 0.7em;
    line-height: 2.2em;
    margin-left: 4px;
  }
}

.login-button {
  text-align: center;
  margin: 5px 0 10px 0;
  padding: 7px 30px;
}

@media screen and (max-width: 640px) {
 .form-hint{
   width: 50%;
 }
}

@media screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .form-control {
    width: 50%;
  }
}

@media screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  .form-control {
    width: 55%;
  }
}

label.form-label-bold {
  .form-hint {
    font-size: 17px;
  }
}
fieldset {
  legend.form-label-bold {
    display: block;
    margin: 3px 0 9px 0;
  }
}
textarea.form-control {
  width: 95%;
  height: 205px;
}

@import 'retinal_images';
