@import 'maginot';
$focus-color: #FFBF47;

.group-leader {
  .image-background {
    height: 300px;
  }
  @include maginot(300px, 300px);
}

.group-title {
  h1 {
    padding-bottom: 6px;
  }

  h2 {
    border: none;
    margin: 0;
    font-size: 1.6em;
    padding-top: 0;
  }
}

.team-member {
  min-height: 300px;
  .image-background {
    height: 217px;
  }
  @include maginot(217px, 217px);
  .role {
    font-size: 16px;
    width: 212px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

.details {
  .about h3 {
    padding-top: 0em;
    padding-bottom: 0.3em;
    line-height: 1em;
  }
}
.subgroup {
  margin-bottom: 20px;

  a.subgroup-link-block {
    position: relative;
    display: block;
    color: $black;
    text-decoration: none;
    height: 220px;
    overflow: hidden;

    h3 {
      color: $link-colour;

      &:active  { color: $link-active-colour;  }
      &:visited { color: $link-visited-colour; }
    }

    &:hover h3 {
     text-decoration: underline;
     color: $link-hover-colour;
    }

    @mixin vertical-gradient($top-color, $bottom-color) {
      background: -moz-linear-gradient(top,  $top-color 0%, $bottom-color 70%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top-color), color-stop(70%,$bottom-color)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, $top-color 0%, $bottom-color 70%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, $top-color 0%, $bottom-color 70%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, $top-color 0%, $bottom-color 70%); /* IE10+ */
      background: linear-gradient(to bottom,  $top-color 0%, $bottom-color 70%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$top-color}', endColorstr='#{$bottom-color}', GradientType=0); /* IE6-8 */
    }

    // fadeout at the bottom
    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 40px;
      content: '';
      @include vertical-gradient(rgba($white, 0), $white);
    }

    // change colour of fadeout when tabbing along
    &:focus:before {
      @include vertical-gradient(rgba($focus-color, 0), $focus-color);
    }
  }

  h3 {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  .image-background {
    height: 300px;
  }
  img {
    width: 300px;
    clip: rect(0px, 300px, 300px, 0px);
  }
}
.view-all-people {
  float:right;
  font-size: 44.5%;
  font-weight: normal;
  margin-top: 1em;
  text-decoration: underline;
}


.team-select {
  width: 80%;
}

.select2-results {
  .team-path {
    float: right;
    color: $grey-1;
  }
}

.subgroup-completion {
  display: block;
  color: #6F777B;
  margin-bottom: 5px;
  margin-top: 0px;
}
