.group-leader {
  .image-background {
    height: 300px;
  }
  img {
    width: 300px;
    clip: rect(0px, 300px, 300px, 0px);
    max-width: 100%;
  }
}

.team-member {
  min-height: 300px;
  .image-background {
    height: 217px;
  }
  img {
    width: 217px;
    max-width: 100%;
    clip: rect(0px, 217px, 217px, 0px);
  }
  .role {
    font-size: 16px;
    width: 212px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

.details {
  .about h3 {
    padding-top: 0em;
    padding-bottom: 0.3em;
    line-height: 1em;
  }
}
.subgroup {
  margin-bottom: 20px;

  a.subgroup-link-block {
    position: relative;
    display: block;
    color: $black;
    text-decoration: none;
    height: 220px;
    overflow: hidden;

    h3 {
      color: $link-colour;

      &:active  { color: $link-active-colour;  }
      &:visited { color: $link-visited-colour; }
    }

    &:hover h3 {
     text-decoration: underline;
     color: $link-hover-colour;
    }

    // fadeout at the bottom
    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 40px;
      content: '';
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    }

    // removes the fadeout when tabbing along
    &:focus:before {
      display: none;
    }
  }

  h3 {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  .image-background {
    height: 300px;
  }
  img {
    width: 300px;
    clip: rect(0px, 300px, 300px, 0px);
  }
}
.add-new-sub-team {
  margin: 45px 0;
}
.view-all-people {
  border-top: 1px solid $blackish;
  padding-top: 15px;
}

form {
  .parent-summary {
    padding: 12px 0 69px 0;
  }
}
