.group-leader {
  .image-background {
    height: 300px;
  }
  img {
    width: 300px;
    clip: rect(0px, 300px, 300px, 0px);
    max-width: 100%;
  }
}

.team-member {
  min-height: 300px;
  .image-background {
    height: 217px;
  }
  img {
    width: 217px;
    max-width: 100%;
    clip: rect(0px, 217px, 217px, 0px);
  }
  .role {
    font-size: 16px;
    width: 212px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

.details {
  .responsibilities {
    background-color: #ddd;
    padding: 20px;
    padding-top: 10px;
  }

  .about {
    padding-top:10px;
  }
}
.subgroup {
  margin-bottom: 20px;
  min-height: 220px;
  h3 {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  .image-background {
    height: 300px;
  }
  img {
    width: 300px;
    clip: rect(0px, 300px, 300px, 0px);
  }
}
.add-new-sub-team {
  margin: 45px 0;
}
.view-all-people {
  border-top: 1px solid $blackish;
  padding-top: 15px;
}

form {
  .parent-summary {
    padding: 12px 0 69px 0;
  }
}
