#home-page {
  .hint-text {
    margin: 12px 0 -8px 0;
  }
  .search-box {
    padding-bottom: 56px;
    border-bottom: 1px solid $grey-2;
  }
  a.add-new-person {
    margin-top: 2px;
    max-width: 40% !important;

    @media screen and (max-width: 320px) {
      float: none;
      display: block;
      margin-bottom: 0.4em;
    }

  }
  p {
    max-width: 37em;
    font-size: 19px;
    line-height: 24px;
  }
  h1, h2 {
    border-bottom: none;
  }

  .org-structure {
    margin: 0.7em 0;
  }

  .root-team {
    overflow: hidden;

    .leaders {
      .leader-name, .leader-role {
        display: block;
      }

      .leader-name {
        font-weight: bold;
      }
    }

    .about-team-header {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .root-subteams {
    h2 {
      border-bottom: 1px solid $grey-2;
    }
  }
}
