@mixin maginot($width, $height, $border-radius:"") {
  .maginot {
    position: relative;
    width: $width;
    .barrier, img {
      position: absolute;
      width: $width;
      height: $height;
      top: 0;
      left: 0;
      -webkit-border-radius: $border-radius;
      -moz-border-radius: $border-radius;
      border-radius: $border-radius;
    }
    img {
      clip: rect(0px, $width, $height, 0px);
      max-width: 100%;
    }
  }
}
