$leaf-node-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAAA1CAYAAADh5qNwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABbtJREFUeNrUWk1oXFUUvpMOZFFNQksjjkYSbCGlFWKri5ZCJilYd4kIumlsZtFNFk0FQcFFW4hgQGgqpZsukqorKczMToVmpiCKjNhZNBiwOGnzA02pNImFBip4vptzH2/evJ9739yZpgde7szkzpnznXPud8697yWERTnw1c8dNKTp6qOrnz9O+0wt8niTrjLez31y7JEtOxKWgAzTNc5g4grAXaNrpl6AiTrAdNNwjgF1CLsyQ9cFArfQFFAcGYA5KxovAPexaeQShoAQlekGRCZMAChDwHK6X2gxAHSRhmyTAQn+vSz9/rS1SHG6ZQNYrNkCMhmISseEBqBCnazWdGCJ5wyQFrCwNXVxmwISbFfWiCgoSqDrUbG9JU12ntdKP5oIL9wSz48gDYvuD5I+k3yp88XWpPhsoEcM7t0lX0M2Np+K3NyquPLLonxdj9ShH/b2BEaKojTqB+qVtlZx/aM+58e8Mr/6WGS+vx0bmAX9aKnOB4Gq0NBd44oPDoq3u9rFyvomee2euHHnH9HWukN+9il5F8bM0mdn8n/GAmVBP1iwR7Fh0hOlGkBIByiHl97/pux4C+Mypcb8g8fi+kifnAePL5NhJmJJfwcT25SX/cb9Zh/fu1uOk4WKb/iRGt/+sSJfDx18yThKFvWPV1E6M55vTYIXIUiJIMmTR+XcV9uMQVnU3804nEgNB81MUciR62EkAG9Cejt3GoOyrP+UG1R/2MzltSfatBxHLOpPu4ki3QhjFQn07tnyMBY9WKy0uGZFv1/7hJ41SX9CASEtosIOVoIoY/H+0tD+mu8B4MihlJx3Jj8vdcfRHwWsxY/G3VJaXHe8HrXYEQl4ffrDN6oM9a4ZzEdtwlxT/VZA5ebuyxEeDpKxo685LIVWJ8Wexfsjl38T71z9XY4naJxllgPokcMpY/06O+XI7TyMgKfhLeUxt8AYgEBqbDx5KoYOdDoGfP7DX1URQuFEV6CAjRx6WUZKV79iwQhp1zqjQOsC+XqotyqtYMTY0a6tOb8uOsURQL4sVAL1TRb+dgjiOKWdrn5dsoikHSxS/DgMxYiWRS1Y5Vl4GvMGX9/FKbsaWncQMUQL62iQOgoZZQ3982xHlASCGqY0Qio5i5RCX1paFStrm9KYjc3/ZGuTam+lSt8uJt7dV5WyUQLDt0BtXTr6J1g32qYQJlyoAYXwT5zYJ0d4BWHP375f1UiqXswb0R9Pv6VdUNxMBgLR0Y/0xjoEaHdZ8MjdJLftroK52wGUY7aJ06iaiIl+2ATykDWP2FOtR2/6lav7rH+d/A6jWZsydqTL+DuwcfbOQ79/FWtAIWdRU+LIT5R+oF+kSkmzO0caYVdrURZaeLe4YEObl7VC+0JmSs0uQRsQ7pSoOpWzofEGp4P78CSoTKh6pNkl6ErRvfW4aUOj6j7kejwc3faAxjW7BF3JO6D4NomVFFSMicXv130jiqqV+s6HuuuQR+p2j7tNumZDMyh2hWuOOiVyA/qCizTWX85u6s34dRRTfHgR+/6TbJWozq1TY5vi9grAggQlA7RsegIVIJeCzv1wIHjOVJu3pVKRKC2tE7AdzomRIhLshN1zNVqfyChR6mWCQCFKFd1owTCkU8q1MwWb6aSV6tBPUrTU2sP3J4sVU/KoOsisAcXAcLKU1Uk11ethDWHvFNfTcA62HWo3YFj8caN7KvAs3QUsG3ZsFqeBNWl/DEDhoZIB3a1Hhrf5fWF7IuxieztfsArKINooQe/5/SPs9igAFUTz78brriPclyobgdrGwEIBRYLahsAiAXk7Cl9hBW96tyjPQMo6gLQi5Yka7tiffQaAQNkXdJ9RivPAVVo073EEMFzGe6PaOigXuFFuqbobBAaRmYnzZRsPMaJIn4oq1ro7F7lvjAnGGihP34jU7OfUTGsu/jJvUnO2HjlNNHJBMFC/tVe2+cysV/4XYAB9xhrOF2MeDQAAAABJRU5ErkJggg==');
$org-node-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaJJREFUeNpiZMAD8surBYBUABDrA7EBmvRBIN4wsbP1Ai79jHgMLQAxgViAAT94AMSFQEs2EDQcaDDIhfOxuJQQABmeCLTkA1bDoQbvJ8K1uAAoiBxhFrCgBQVWg3PSkhlUlBRRxKbMmstw5959dKUgx60HWQDiMCFJzKfAxcjAAejQArjhQI4DNFVQC9QjuzyegbpAAOjgBJjhAQzUB/6MQBsUgIz7xKj2cHECRyKWiMSa/kGpRQGbjJmxEYOQIGr8glKMkKAgRsrBYaECEy5rzYwNwQYRAiCL0C2DARZ8Gk+dPYfiImzBAhLDWbZAM897ZJeAMg2yl3fs2YciBgIFFTUMEzpaMMSQwAEmaFa9QIPUcgEW5htpYPhCmOETgPgDFQ0+ACrnGZEKLlB50M/JycEgLSkJV/X9xw+Gd+/fo4jB4gJbkoQCQxTDoRaACq8ECl0NKtMXgBjMyKInjx7eaGFjp0BGRYFhMIbhSBaAfORAgqEPoAavIFiHQoNIAVp0BuAp50GGTgTiBcjVG0HDsVR/yMF1AGQw0MAH+PQBBBgA9nyR5x7/z3IAAAAASUVORK5CYII=);
$arrow-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAYAAAC58NwRAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMNJREFUeNpiYACChsaWBiAWYCACMAIVKgDp+0B8AYgdG+prPuDTwATECVC2ARDvJ2QTSIM8Ep+gJpCGQiB+QKwmRqinQYrOo8lh9RMTWEN9zQWoTQyEbGJE5gAl1wOpAHw2MaFJJgLxB3w2MaJ7CijhAFKAxb9gm5gYiAcXQM5C94MANNbRg3QBUHEiNj+sx6cYRQMoAQIpB3yKkSMOm0cxFMNSKzZ3Y1UMc9J8YhXDNFwkVjFMwwJiFSOHfwCxsQcQYABohVFejwj8OwAAAABJRU5ErkJggg==);

$org-browser-column-width: 330px;
$org-browser-height: 480px;
$row-height: 45px;

.new-org-browser {
  $browser-width: 950px;
  $line-height: 25px;

  font-size: 19px;
  line-height: $line-height;

  width: $browser-width;
  height: 480px;
  border: 1px solid $darkblue;
  margin-top: 15px;
  overflow-x: auto;

  .team {
    width: $org-browser-column-width;
    border-right: 2px solid $border-colour;
    position: relative;
    height: 100%;

    display: none;
    &.visible, &.root-node {
      display: block;
    }

    ul {
      list-style: none;
      margin: 0;
      overflow-y: auto;
      height: $org-browser-height - $row-height - 20;
    }

    h3, ul li {
      margin: 0;
      height: $row-height;
      border-bottom: 1px solid $border-colour;
    }

    h3 {
      background-color: #d6d8d9;
      font-size: 1.1em;
      line-height: 2.1em;
      padding-left: 0.9em;

      a {
        white-space: nowrap;
        display: block;
        margin-right: 0.5em;
        overflow: hidden;
      }
    }

    > ul > li {
      background-color: #f8f8f8;

      &.expanded {
        background-color: #ebeced;
      }

      p {
        margin: 0;
        padding: 0;
      }

      &.has-subteams > p {
        background-image: $arrow-image;
        background-repeat: no-repeat;
        background-position: 310px 12px;
        background-size: 12px 20px;
      }

      .subteam-link {
        display: block;
        overflow: hidden;
        height: 45px;
        padding-left: 44px;
      }

      .subteam-name, .subteam-count {
        display: block;
      }

      .subteam-name {
        font-size: 0.9em;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 1.6em;
      }

      .subteam-count {
        font-size: 0.8em;
        color: grey;
        line-height: 0.8em;
      }


      background-image: $leaf-node-image;
      background-repeat: no-repeat;
      background-position: 10px 10px;
      background-size: 23px 23px;

      .subteam-name {
        line-height: 2.5em;
      }

      &.has-subteams {
        background-image: $org-node-image;

        > p .subteam-name {
          line-height: 1.6em;
        }
      }

      > .team {
        margin-left: $org-browser-column-width + 2;
        position: absolute;
        top: 0;
      }
    }
  }

}

form .new-org-browser {

  .team h3 {
    padding-left: 0.45em;

    input {
      float: left;
      margin-top: 0.65em;
    }

    a {
      padding-left: 0.45em;
    }
  }

  .team > ul > li.leaf-node {
      background: none;

      > p > input {
        float: left;
        margin: 0.8em 0.7em 0 0.78em;
      }

      > p > a {
        padding-left: 0;

        > .subteam-name {
          line-height: 45px;
        }
      }

  }

  .has-subteams > p > input {
    display: none;
  }

  .team {
    h3.disabled > a, li.disabled.leaf-node > p > a {
      cursor: default;
    }

    h3.disabled, li.disabled.leaf-node {
      > a, > p > a {
        color: #a2a2a2; // nicked from gov.uk colour palette, TODO: replace with a variable
        text-decoration: none;
      }
    }


    ul li.disabled > p > a {
      padding-left: 44px;
    }
  }

}

