@import '_colours';// IE7 styles
@import "peoplefinder_colours";
@import "peoplefinder_ie_colours";
// TODO: sort out 3 misaligned fields on /people/mark-ford/edit?prompt=profile

// layout stuff
.header-app-name a{
  color: white;
  text-decoration: none;
}
.grid-wrapper{
  clear:both;
}
h1, h2 {
  margin: 30px 0;
  border-bottom: 1px solid $blackish;
}
.editing-alert {
  background-color: $turqoise;
  text-align: center;
  padding:1em;
  height: auto;
  display: block;
}
.login-bar {
  text-align: right;
  padding: 0.5em 1em;
  background: $grey-3;

  span {
    margin: 0.4em;
  }
}
.breadcrumbs {
  margin-top: 1em;
  margin-bottom: 9px;
  overflow: hidden;

  ol {
    li {
      display: block;
      float: left;
      padding-right: 1em;
      a{
        text-decoration: none;
      }
    }
  }
}
// form
form #working-days ul,
.working_days {
  float: left;

  li {
    display: block;
    float: left;
    margin-right: 3px;
  }
}

// profile
#search_results {
  .image-background{
    float: left;
    width:auto;
  }
  .details {
    margin: 0 0 0 15px !important;
  }
}
.edit-links {
  width: 97%;
  background: $grey-3;

  a {
    display: block;
    padding-left: 30px;
    margin: 0.4em;
    line-height: 1.8em;

    &.add-new-person {
      background: image-url('icon_add_person.png') scroll no-repeat 0 0;
    }

    &.edit-this-team, &.edit-this-person {
      background: image-url('icon_edit_team.png') scroll no-repeat 0 0;
    }

    &.add-new-sub-team {
      background: image-url('icon_add_subteam.png') scroll no-repeat 0 0;
    }
  }
}
.root-subteams{
  clear: both;
}