// IE9 styling hacks
@import '_colours';
@import "peoplefinder_colours";
@import "peoplefinder_ie_colours";

/*breadcrumb and search grid wrappers and inner-blocks*/
#content .grid-wrapper, #content .inner-block, .grid .inner-block {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
}

#global-header .header-wrapper .header-global {
  .header-app-name {
    margin: 0;
    text-align: center;
    width: 66.66%;
    display: inline;

    .login-bar {
      width: 66.66%;
      float: right;
      text-align: right;

      span {
        margin: 0.4em;
        width: auto;
      }
      .logout-link {
        border-left: 1px solid $white;
        padding-left: 0.4em;
      }
    }
  }
}
