ul.working_days {
  clear: both;
  list-style: none;
  padding: 0;
  li {
    display:inline-block;
    text-align: center;
    background-color: gray;
    width:25px;
    padding:3px 0;
    color: white;

    &.active {
      background-color: rgb(98,152,187);
    }
  }
}

.profile {
  min-height: 300px;
  .image-background {
    height: 300px;
  }
  img {
    width: 300px;
    clip: rect(0px, 300px, 300px, 0px);
    max-width: 100%;
  }
  dl {
    margin-bottom: 15px;
  }
  dt {
    font-weight: 700;
  }
  dd.breadcrumbs {
    margin: 0;
    ol {
      margin: 0;
      padding: 0;
    }
  }
}

img.preview {
  margin-top: 15px;
  width: 200px;
  clip: rect(0px, 200px, 200px, 0px);
}

#search_results {
  h1 {
    margin: 30px 0 -10px 0 !important;
    border: 0 !important;
  }
  .search-hint {
    padding: 0 0 12px 0;
    border-bottom: 1px solid $blackish;
  }
  .pagination {
    padding: 9px 0 0 0;
    margin-bottom: -5px;
  }
  .search-result {
    margin: 15px 0 15px 0;
    border-top: 1px solid $grey-bg;
    .grid-wrapper {
      margin-top: 15px;
      img {
        width: 125px;
        clip: rect(0px, 125px, 125px, 0px);
        float: left;
      }
      .details {
        float: left;
        margin: -5px 0 0 140px;
        .meta  {
          height: 30px;
          width: 400px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .edit-link {
        float: right;
      }
    }
  }
  .add-new-person {
    margin-top: 60px;
  }
}

.complete-your-profile {
  background-color: $grey-bg;
  width: 285px;
  height: 100px;
  margin-top: 5px;
  padding: 15px 0 0 15px;
  font-weight: bold;
  .bar {
    line-height: 15px;
    width: 200px;
    margin-top: 10px;
    float: left;
    .on {
      background-color: $green;
      float: left;
    }
    .off {
      background-color: $border-color;
      float: left;
    }
  }
  .score {
    float: left;
    margin-left: 15px;
    color: $green;
    font-size: 24px;
  }
  a {
    font-weight: normal;
  }
}

form {
  .file {
    margin-top: 15px;
    border: 0;
    line-height: 0;
    font-size: 15px;
  }
  .remove-link {
    margin-top: 45px;
  }
  #add_membership {
    margin-top: 60px;
  }
  .text #information_request_message {
    margin-top: 10px;
    height: 200px;
  }
  .text #reported_profile_additional_details {
    margin-top: 10px;
    height: 200px;
  }
  .form-checkbox input {
    width: 14px;
    margin-right: 15px;
  }
}

ul.tags {
  h4 {
    margin-bottom: 10px;
  }
  li {
    display: inline-block;
    background-color: $grey-bg;
    margin: 15px 15px 0 0;
    padding: 6px 15px 9px 15px;
    border-radius: 5px;
  }
}
