// IE9 < styles
@import '_colours';
@import "peoplefinder_colours";
@import "peoplefinder_ie_colours";


/*IE8 banner hacks*/
#global-header .header-wrapper .header-global {
  .header-app-name {
    margin: 0;
    text-align: center;
    width: 66.66%;
    display: inline;

    .login-bar {
      width: 66.66%;
      float: right;
      text-align: right;

      span {
        margin: 0.4em;
        width: auto;
      }
      .logout-link, .manage-link {
        border-left: 1px solid $white;
        padding-left: 0.4em;
      }
    }
  }
}

#home-page {
  .help-peoplefinder {
    float: right;

    p {
      background: #ededed image-url('icon_info.png') scroll no-repeat 15px 20px;
      padding: 20px 15px 20px 80px;
      margin-top: 15px;
      margin-left: 50px;
    }
  }
}

/*required because CSS3 media rule/query not available til IE9*/
.no-desk {
  display: none;
}

/*required to provide minimal file chooser styling for 7 and 8*/
form {
  .file {
    line-height: 1;
    cursor: hand;
    border: 1px solid;
  }
}

/*required by IE8 to prevent flickering breadcrumb overlap bug*/
.breadcrumbs {
  li {
    margin-right: 1px;
  }
}

/*IE7 & 8 hacks to make footer align bottom-left for acknowledgements and bottom right for copyright*/
#footer .footer-meta .footer-meta-inner .footer-content {
  position: relative;
  ul {
    position: absolute;
    bottom: 0;
    line-height: 1;
    margin-bottom: 0;
    li {
      float: left;
    }
  }
}
#footer .footer-meta .copyright {
  width: auto;
}



