// IE7 styles
@import '_colours';
@import "peoplefinder_colours";
@import "peoplefinder_ie_colours";

// banner hacks
#global-header .header-wrapper .header-global {
  .header-app-name {

    text-align: center;
    width: 66.66%;

    a {
      float: left;
      width: 33.33%;
    }
    .login-bar {
      width: 66.66%;
      float: right;

      span {
        margin: 0;
        width: auto;
        display: inline-block;
      }
      .profile-link{
        margin: 15px 0 0 0;
        span {
          width: auto;
          display: inline-block;
          a{
            margin-right: 0.4em;
            vertical-align: -10%;
          }
        }
      }
      .logout-link {
        border-left: 1px solid $white;
        padding-left: 0.4em;
      }
      .login-link {
        span {
          margin: 15px 0 0 0;
          a {
            vertical-align: -10%;
          }
        }
      }
    }
  }
}

.grid-wrapper{
  clear:both;
}

/*over-ride moj-internal-ie7 setting to ensure 4 people across*/
.inner-block .grid-wrapper {
  margin-right: 15px;
}

h1, h2 {
  margin: 30px 0;
  border-bottom: 1px solid $blackish;
  *zoom: 1;
}

.breadcrumbs {
  margin-top: 1em;
  margin-bottom: 9px;
  overflow: hidden;

  ol {
    li {
      display: inline;
      a{
        text-decoration: none;
      }
    }
  }
}

// form
form #working-days ul,
.working_days {
  float: left;

  li {
    display: block;
    float: left;
    margin-right: 3px;
  }
}

// profile
#search_results {
  .image-background{
    float: left;
    width:auto;
  }
  .details {
    margin: 0 0 0 15px !important;
  }
}
.edit-links {
  width: 97%;
  background: $grey-3;

  a {
    display: block;
    padding-left: 30px;
    margin: 0.4em;
    line-height: 1.8em;

    &.add-new-person {
      background: image-url('icon_add_person.png') scroll no-repeat 0 0;
    }

    &.edit-this-team, &.edit-this-person {
      background: image-url('icon_edit_team.png') scroll no-repeat 0 0;
    }

    &.add-new-sub-team {
      background: image-url('icon_add_subteam.png') scroll no-repeat 0 0;
    }
  }
}
.root-subteams{
  clear: both;
}

#flash-messages {
  text-align: center;
  .flash-message {
    margin: 15px 0;
    padding: 15px;
  }
  .notice {
    background-color: $notice-bg;
    color: white;
    font-weight: bold;
    text-align: left;
  }
  .warning {
    background-color: $warning-bg;
    font-weight: bold;
    text-align: left;
  }
  .error {
    background-color: $error-bg;
  }
}

.breadcrumbs {
  li {
    padding-left: 12px;
    padding-right: 4px;
    background: image-url('peoplefinder/breadcrumb.gif') scroll no-repeat left center;
  }
  li.breadcrumb-0{
    padding-left: 0;
    background-image: none;
  }
}

/*IE7 hack to ensure form elements don't disappear and there is an icon*/
#feedback_container{
  #feedbackToggle{
    *zoom: expression(
              this.runtimeStyle.zoom="1",
              this.insertBefore( document.createElement("span"), this.firstChild ).innerHTML="\25BC  "
             );
  }
  form{
    *zoom: 1;
  }
}

form.search-box {
  /*ensure search box height*/
  .form-control {
    height: 25px;
  }
  /*prevent submit text appearing over button*/
  .submit-button {
  line-height: 0;
  width: 49px;
  height: 49px;
  }
}

/*IE7 organogram hack - ensure inline block equivalent */
.organogram-content {
  .leader, .person, .team {
    *display: inline;
    *zoom: 1;
  }
}
