@import 'maginot';
ul.working_days {
  clear: both;
  list-style: none;
  padding: 0;

  li {
    display:inline-block;
    text-align: center;
    background-color: gray;
    width: 25px;
    padding:3px 0;
    color: white;

    background: image-url('bg_not_working_day.png') no-repeat scroll 0 0;

    &.active {
      background-image: none;
      background-color: rgb(98,152,187);
    }
  }
}

.title {
  h1 {
    padding: 0;
  }
}

.membership {
  height: auto;
  overflow: hidden;
}
.panel {
  border-left: 5px solid $border-colour;
  clear: both;
  padding-left: 15px;
  margin-bottom: 60px;
}

.profile {
  min-height: 300px;
  .image-background {
    height: 300px;
  }
  @include maginot(300px, 300px);
  dl {
    margin-bottom: 15px;
  }
  .inline-labels dt {
    float: left;
    margin-right: 0.4em;

    &:after {
      content: ':';
    }
  }

  dd.breadcrumbs {
    margin: 0;
    ol {
      margin: 0;
      padding: 0;
    }
  }

  .role-and-location {
    dd, dt {
      margin-bottom: 0.4em;
    }
  }
  .job-title {
    small {
      font-size: 16px;
    }
  }
}

#search_results {
  h1 {
    margin: 30px 0 -10px 0 !important;
    border: 0 !important;
  }
  .search-hint {
    padding: 0 0 12px 0;
    border-bottom: 1px solid $blackish;
  }
  .query-term {
    font-weight: bold;
  }
  .pagination {
    padding: 9px 0 0 0;
    margin-bottom: -5px;
  }
  .search-result {
    margin-top: 15px;
    border-top: 1px solid $grey-bg;
    display: block;
    width: 100%;
    .grid-wrapper {
      margin-top: 15px;
      width: 100%;
      .image-background {
        @media screen and (max-width: 320px) {
          width: 125px;
          height: 125px;
        }
      }
      @include maginot(125px, 125px);
      .details {
        min-height: 125px;
        float: left;
        margin: 0 0 0 140px;
        @media screen and (max-width: 320px) {
          float: none;
          display: block;
          margin: 0;
        }
        .breadcrumbs {
          margin: 0;
          ol {
            margin: 0;
          }
        }
        .meta {
          height: 30px;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .edit-link {
        float: right;
      }
    }
  }
  .add-new-person {
    margin-top: 60px;

    @media screen and (max-width: 320px) {
      float: none;
      display: block;
    }
  }
}

.complete-your-profile {
  background-color: $grey-bg;
  width: 300px;
  margin-top: 5px;
  padding: 15px 0 1px 15px;
  font-weight: bold;
  .bar {
    line-height: 15px;
    width: 200px;
    margin-top: 10px;
    float: left;
    .on {
      background-color: $green;
      float: left;
    }
    .off {
      background-color: $border-color;
      float: left;
    }
  }
  .score {
    float: left;
    margin-left: 15px;
    color: $green;
    font-size: 24px;
  }
  a {
    font-weight: normal;
  }
}
.complete-your-profile.complete {
  background-color: $palegreen;
}

form {
  .form-error-list {
    padding-left: 20px;
    list-style-type: decimal;
  }

  .file {
    margin-top: 15px;
    border: 0;
    line-height: 0;
    font-size: 15px;
  }
  .remove-link {
    margin-top: 45px;
  }
  .text #information_request_message {
    margin-top: 10px;
    height: 200px;
  }
  .text #reported_profile_additional_details {
    margin-top: 10px;
    height: 200px;
  }
  .form-checkbox input {
    width: 14px;
    margin-right: 15px;
  }

  #working-days ul {
    li {
      display: inline-block;
      background-color: $grey-bg;
      padding: 0.4em 0.8em 0.5em 0.4em;
      margin: 0.4em 0.4em 0 0;
      label.selected {
        background-color: transparent;
      }
    }
  }


  .parent-summary {
    padding: 12px 0 0;
  }

  .person-photo {

    .preview {
      width: 100%;
    }

    .preview-box {
      position: relative;
      width: 300px;
    }

    .maginot {
      position: relative;
      width: 100%;
      height: 100%;
      transition: all 500ms ease-in-out;

      .uploading & {
        opacity: 0.3;
      }
    }

    form {
      display: none;
    }

    .crop-hint,
    .crop-again-button,
    .upload-hint,
    #person-image,
    .photo-upload-button,
    .reset-image-button,
    .uploading-hint,
    .crop-finished-button {
      display: none;
    }

    &.initial {
      .upload-hint, #person-image, .photo-upload-button {
        display: block;
      }
    }

    &.uploading {
      .uploading-hint {
        display: block;
      }
    }

    &.cropping {
      .crop-finished-button {
        display: block;
      }
    }

    &.cropped {
      .upload-hint, #person-image {
        display: block;
      }

      .photo-upload-button, .reset-image-button {
        display: inline;
      }

      .crop-again-button {
        display: inherit;
      }

      .preview {
        position: absolute;
      }

      .preview-box {
        width: 300px;
        height: 300px;
        overflow: hidden;
      }
    }


    .upload-button-bar {
      #person-image {
        margin-top: 0;
      }

      .form-hint {
        margin-top: 0;
      }

      button {
        margin-top: 10px;
      }
    }
  }
}

.title-with-edit {
  .edit-this-link, .edit-this-link a {
    @media screen and (max-width: 320px) {
      display: block;
      float: none!important;
      margin: 0.3em 0 0.5em 0;
    }
  }
}

.js-enabled {
  label.focused {
    outline: 3px solid #ffbf47;
  }
}