// IE9 < styles
@import "peoplefinder_colours";
@import "peoplefinder_ie_colours";

.editing-alert {
  background-color: $turqoise;
}

/*required because CSS3 media rule/query not available til IE9*/
.no-desk {
  display: none;
}

/*required to provide minimal file chooser styling for 7 and 8*/
form {
  .file {
    line-height: 1;
    cursor: hand;
    border: 1px solid;
  }
}

/*required for IE8 to prevent flickering breadcrumb overlap bug*/
.breadcrumbs {
  li {
    margin-right: 1px;
  }
}
