.select2-container {
  margin-top: 15px;
  max-width: 100%;
  padding-bottom: 15px;
}

ul.select2-choices {
  background-image: none !important;
}

li.select2-search-choice {
  margin: 8px 0 8px 8px !important;
  padding: 8px 22px 8px 8px !important;

  .select2-search-choice-close {
    left: auto !important;
    right: 3px;
    top: 9px !important;
  }
}
