%div.footer-content
  %div.acknowledgements
    %ul
      %li
        = link_to "Cookies", :cookies
      %li
        Built by
        %a.underlined{href: "https://mojdigital.blog.gov.uk/"}
          %abbr{title: "Ministry of Justice"} MOJ
          Digital Services
