%div.footer-content
  %div.acknowledgements
    %ul
      %li
        %a{:href => '/teams/department-for-international-trade'}
          Teams
      %li
        %a{:href => home_page_link_helper('/networks')}
          Networks
      %li
        %a{:href => '/teams/volume-group'}
          Regions
      %li
        %a{:href => home_page_link_helper('/sectors')}
          Sectors
      %li
        = link_to("UKEF", "https://info.ecgd.gov.uk/pages/home.aspx")
    %p
      = "Built by the #{link_to('DIT Digital', 'https://people.trade.gov.uk/teams/digital-technology-and-estates')} team".html_safe
