:plain
  <script async src="https://www.googletagmanager.com/gtag/js?id=#{ENV['GA_TRACKING_ID']}"></script>
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag()
  {dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '#{ENV['GA_TRACKING_ID']}');
  </script>
