- content_for(:page_title, page_title)
- content_for :head do
  = stylesheet_link_tag "application", media: "all"
  = csrf_meta_tag
  %meta{name: "format-detection", content: "telephone=no"}
  /[if lt IE 9]
    %link{ rel: "stylesheet", media: "screen", href: "/assets/peoplefinder/peoplefinder-lt-ie9.css?body=1" }
  /[if IE 7]
    %link{ rel: "stylesheet", media: "screen", href: "/assets/peoplefinder/peoplefinder-ie7.css?body=1" }
