<% content_for :head do %>
  <%= stylesheet_link_tag 'application' %>
<% end %>

<% content_for :content do %>
  <div class="class">
    <main id="content" role="main">
      <div class="inner-block">
        <%= yield %>
      </div>
    </main>
  </div>
<% end %>

<%= render partial: 'shared/ga' %>
<%= render template: 'layouts/moj_internal_template' %>
